<%= form_with(model: [:admin, @work, original_book]) do |form| %>
  <% if original_book.errors.any? %>
  <%= tag.snm_message_bar "入力エラーがあります", level: "alert" %>
  <% end %>
  <% errors = original_book.errors %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :title, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :publisher, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :first_pubdate, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :input_edition, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :proof_edition, errors:)) %>
  <%= render(Admin::SnmCollectionSelectComponent.new(form:,
                                                     name: :booktype_id,
                                                     collection: Booktype.order(:id).all,
                                                     value_method: :id,
                                                     text_method: :name,
                                                     errors:)) %>
  <%= render(Admin::SnmTextAreaComponent.new(form:, name: :note, errors:)) %>
  <div class="mt-2 flex">
    <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "更新する")) %>
  </div>
<% end %>
