<%= form_with(model: [:admin, worker]) do |form| %>
  <% if worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worker.errors.count, "error") %> prohibited this worker from being saved:</h2>
      <ul>
        <% worker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name_kana, "姓名読み" %>
    <%= form.text_field :name_kana %>
  </div>
  <div class="field">
    <%= form.label :sortkey, "ソート用読み" %>
    <%= form.text_field :sortkey %>
  </div>
  <div class="field">
    <%= form.label :name, "姓名" %>
    <%= form.text_field :name %>
  </div>
  <%= form.fields_for :worker_secret do |secret_form| %>
  <div class="field">
    <%= secret_form.label :email, "email" %>
    <%= secret_form.text_field :email %>
  </div>
  <div class="field">
    <%= secret_form.label :url, "URL" %>
    <%= secret_form.text_field :url %>
  </div>
  <div class="field">
    <%= secret_form.label :note, "備考" %>
    <%= secret_form.text_field :note %>
  </div>
  <% end %>
  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>
