<div class="w-full md:w-2/3">
  <snm-headline h="h1">工作員一覧</snm-headline>

  <div class="mt-10">
    <!--人物検索 start-->
    <snm-headline h="h2">工作員検索</snm-headline>
    <%= form_with(url: admin_workers_text_searches_path, method: 'get') do |form| %>
    <div class="flex gap-1 items-end">
      <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓名読み", name: "name_kana")) %>
    </div>
    <div class="flex gap-1 items-end">
      <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓名", name: "name")) %>
    </div>

    <div class="flex">
      <%= render(Admin::SubmitComponent.new(name: "text", value: "検索")) %>
    </div>
    <% end %>
  <!--人物検索 start-->
  </div>
</div>

<!--人物一覧 start-->
<div class="mt-10 mb-5">
  <snm-headline h="h2">人物一覧</snm-headline>
  <%= render(Admin::SnmTableComponent.new(
      header: ["工作員ID", "姓名", "読み"],
      body: @workers.map do |worker|
        [worker.id, link_to(worker.name, admin_worker_path(worker), class: 'underline'), worker.name_kana]
      end
      )) %>
</div>

<%== pagy_nav(@pagy) %>
<!--人物一覧 end-->
