<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <h1 class="text-2xl py-4">工作員一覧</h1>

  <h2 class="text-xl">工作員検索</h2>
  <%= form_with(url: admin_workers_text_searches_path, method: 'get') do |form| %>
  <table>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓名読み", name: "name_kana")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓名", name: "name")) %>
  </table>
    <input type="submit" name="text" value="検索" class="btn-admin-normal">
  <% end %>

  <h2 class="text-xl">工作員一覧</h1>

  <table>
    <thead>
      <tr>
        <th>工作員ID</th>
        <th>姓名</th>
        <th>読み</th>
      </tr>
    </thead>
    <tbody>
      <% @workers.each do |worker| %>
        <tr>
          <td><%= worker.id %></td>
          <td><%= link_to worker.name, admin_worker_path(worker) %></td>
          <td><%= worker.name_kana %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%== pagy_nav(@pagy) %>
</div>
