<div class="w-full md:w-2/3">
  <snm-headline h="h1">工作員一覧</snm-headline>

  <div class="mt-10">
    <!--人物検索 start-->
    <snm-headline h="h2">工作員検索</snm-headline>
    <%= form_with(url: admin_workers_text_searches_path, method: 'get') do |form| %>
    <div class="flex gap-1 items-end">
      <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓名読み", name: "name_kana")) %>
    </div>
    <div class="flex gap-1 items-end">
      <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓名", name: "name")) %>
    </div>

    <div class="flex">
      <input type="submit" name="text" value="検索" class="grid bg-ab_primary border-2 border-white hover:bg-ab_primary_hover hover:border-2 hover:border-white hover:shadow-[0px_2px_18px_0px_#ebf8ff] active:bg-ab_primary_hover focus-visible:ring ring-gray-300 text-white text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3 mb-2 cursor-pointer">
    </div>
  <% end %>
  <!--人物検索 start-->
  </div>
</div>

<!--人物一覧 start-->
<div class="mt-10 mb-5">
  <snm-headline h="h2">人物一覧</snm-headline>
  <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
    <thead class="text-center bg-[#f8fafc]">
      <tr class="h-10 even:bg-[#f8fafc]">
        <th class="whitespace-nowrap">工作員ID</th>
        <th class="whitespace-nowrap">姓名</th>
        <th class="whitespace-nowrap">読み</th>
      </tr>
    </thead>
    <tbody>
      <% @workers.each do |worker| %>
      <tr class="h-10 even:bg-[#f8fafc]">
        <td class="text-center whitespace-nowrap py-3 px-5"><%= worker.id %></td>
        <td class="text-center whitespace-nowrap py-3 px-5"><%= link_to worker.name, admin_worker_path(worker), class: 'underline' %></td>
        <td class="text-center whitespace-nowrap py-3 px-5"><%= worker.name_kana %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%== pagy_nav(@pagy) %>
<!--人物一覧 end-->
