<div class="w-full">
  <snm-headline h="h2">工作員データ</snm-headline>

  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["工作員ID", @worker.id],
        ["姓名読み", @worker.name_kana],
        ["ソート用読み", @worker.sortkey],
        ["姓名", @worker.name],
        ["email", @worker.worker_secret&.email],
        ["URL", link_to(@worker.worker_secret&.url, @worker.worker_secret&.url)],
        ["備考", @worker.worker_secret&.note],
        ["最終更新日時", @worker.updated_at],
        ["更新者", @worker.worker_secret&.user&.username]
      ])) %>

  <snm-headline h="h2">関連した作品</snm-headline>

  <%= render(Admin::SnmTableComponent.new(
               header: %w[役割 作品名 副題 仮名遣い種別 状態 状態の開始日],
               body: @work_workers.map do |work_worker|
                 work = work_worker.work
                 [
                   work_worker.worker_role.name,
                   link_to(work.title, admin_work_path(work)),
                   work.kana_type&.name,
                   work.work_status&.name,
                   work.started_on
                 ]
               end
             )) %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link '更新', href: edit_admin_worker_path(@worker) %>
    <%= render(Admin::DeleteButtonComponent.new(url: admin_worker_path(@worker))) %>
    <%= tag.snm_link '戻る', href: admin_workers_path %>
  </div>
</div>
