<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <p id="notice"><%= notice %></p>
  <h1 class="text-2xl">工作員データ</h1>
  <p>
    <strong>工作員ID:</strong>
    <%= @worker.id %>
  </p>
  <p>
    <strong>姓名読み:</strong>
    <%= @worker.name_kana %>
  </p>
  <p>
    <strong>ソート用読み:</strong>
    <%= @worker.sortkey %>
  </p>
  <p>
    <strong>姓名:</strong>
    <%= @worker.name %>
  </p>
  <p>
    <strong>email:</strong>
    <%= @worker.worker_secret&.email %>
  </p>
  <p>
    <strong>URL:</strong>
    <%= @worker.worker_secret&.url %>
  </p>
  <p>
    <strong>備考:</strong>
    <%= @worker.worker_secret&.note %>
  </p>
  <p>
    <strong>最終更新日:</strong>
    <%= @worker.updated_at %>
  </p>
  <p>
    <strong>更新者:</strong>
    <%= @worker.worker_secret&.user_id %>
  </p>

  <h2 class="text-xl">関連した作品</h2>

  <table>
    <tr>
      <th>
        <%= t(:worker_role_id, scope: "activerecord.attributes.work_worker") %>
      </th>
      <th>
        <%= t(:title, scope: "activerecord.attributes.work") %>
      </th>
      <th>
        <%= t(:subtitle, scope: "activerecord.attributes.work") %>
      </th>
      <th>
        <%= t(:kana_type_id, scope: "activerecord.attributes.work") %>
      </th>
      <th>
        <%= t(:status, scope: "activerecord.attributes.work") %>
      </th>
      <th>
        <%= t(:started_on, scope: "activerecord.attributes.work") %>
      </th>
    </tr>
    <% @work_workers.each do |work_worker| %>
    <%   work = work_worker.work %>
    <tr>
      <td><%= work_worker.worker_role.name %></td>
      <td><%= work.title %></td>
      <td><%= work.subtitle %></td>
      <td><%= work.kana_type&.name %></td>
      <td><%= work.work_status&.name %></td>
      <td><%= work.started_on %></td>
    </tr>
    <% end %>
  </table>

  <%= link_to '更新', edit_admin_worker_path(@worker) %> |
  <%= link_to '削除', admin_worker_path(@worker), method: :delete, data: { form: { turbo_confirm: '本当に削除しますか?' }} %> |
  <%= link_to '戻る', admin_workers_path %>
</div>
