<%= form_with(model: [:admin, book]) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title_kana, "作品名読み" %>
    <%= form.text_field :title_kana %>
  </div>
  <div class="field">
    <%= form.label :sortkey, "ソート用読み" %>
    <%= form.text_field :sortkey %>
  </div>
  <div class="field">
    <%= form.label :title, "作品名" %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :subtitle_kana, "副題読み" %>
    <%= form.text_field :subtitle_kana %>
  </div>
  <div class="field">
    <%= form.label :subtitle, "副題" %>
    <%= form.text_field :subtitle %>
  </div>
  <div class="field">
    <%= form.label :collection_kana, "作品集名読み" %>
    <%= form.text_field :collection_kana %>
  </div>
  <div class="field">
    <%= form.label :collection, "作品集名" %>
    <%= form.text_field :collection %>
  </div>
  <div class="field">
    <%= form.label :orig_title, "原題" %>
    <%= form.text_field :orig_title %>
  </div>
  <div class="field">
    <%= form.label :kana_type_id, "仮名遣い種別" %>
    <%= form.number_field :kana_type_id %>
  </div>
  <div class="field">
    <%= form.label :first_appearance, "初出" %>
    <%= form.text_field :first_appearance %>
  </div>
  <div class="field">
    <%= form.label :description, "作品について" %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :note, "備考" %>
    <%= form.text_area :note %>
  </div>
  <div class="field">
    <%= form.label :orig_text, "底本管理情報" %>
    <%= form.text_area :orig_text %>
  </div>
  <div class="field">
    <%= form.label :status, "状態" %>
    <%= form.select :status, Book::STATUS_LIST, {include_blank: false}, {class: 'text-gray-800'} %>
  </div>
  <div class="field">
    <%= form.label :started_on, "状態の開始日" %>
    <%= form.date_select :started_on %>
  </div>
  <div class="field">
    <%= form.label :copyright_flag, "著作権フラグ" %>
    <%= form.select :copyright_flag, [["なし", 0], ["あり", 1]], {include_blank: false}, {class: 'text-gray-800'} %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
