<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <p id="notice"><%= notice %></p>
  <h1 class="text-2xl">作品検索</h2>
  <%= link_to '作品新規登録', new_admin_book_path %>

  <h2 class="text-2xl">作品検索</h2>
  <%= form_with(url: admin_books_text_searches_path, method: 'get') do |form| %>
  <table>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "作品名読み", name: "title_kana")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "作品名", name: "title")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "副題読み", name: "subtitle_kana")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "副題", name: "subtitle")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "作品集名読み", name: "collection_kana")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "作品集名", name: "collection")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "原題", name: "original_title")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "作品について", name: "description")) %>
  </table>
    <input type="submit" name="text" value="検索">
  <% end %>

  <h2 class="text-2xl">作品50音順インデックス</h2>
  <%= form_with(url: admin_books_book_index_searches_path, method: 'get') do |form| %>
  <div class="flex">
    <%= render(Admin::SyllabaryTableComponent.new(key: "book")) %>
    <input type="submit" name="book" value="その他">
  </div>
  <% end %>

  <h2 class="text-2xl">作品状態検索</h2>
  <%= form_with(url: admin_books_status_searches_path, method: 'get') do |form| %>
  <div class="flex">
    <%= render(Admin::BookStatusComponent.new(form: form, years: @years)) %>
  </div>
  <% end %>

  <h2 class="text-2xl">著者別インデックス</h2>
  <%= form_with(url: admin_books_creator_index_searches_path, method: 'get') do |form| %>
  <div class="flex">
    <%= render(Admin::SyllabaryTableComponent.new(key: "creator")) %>
    <input type="submit" name="creator" value="その他">
  </div>
  <% end %>

  <h2 class="text-2xl">著者不明作品検索</h2>
  <%= form_with(url: admin_books_unknown_creator_searches_path, method: 'get') do |form| %>
  <div class="flex">
    <input type="submit" name="creator" value="検索">
  </div>
  <% end %>

  <h2 class="text-2xl">作品一覧</h2>
  <table>
    <thead>
      <tr>
        <th>作品ID</th>
        <th>作品名</th>
        <th>副題</th>
        <th>著者</th>
        <th>翻訳者</th>
        <th>仮名遣い</th>
        <th>状態</th>
        <th>状態の開始日</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.id %></td>
          <td><%= link_to book.title, admin_book_path(book) %></td>
          <td><%= book.subtitle %></td>
          <td><%= book.author_text %></td>
          <td><%= book.translator_text %></td>
          <td><%= book.kana_type.name %></td>
          <td><%= book.book_status.name %></td>
          <td><%= book.started_on %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_nav(@pagy) %>
</div>
