<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>作品ID:</strong>
    <%= @book.id %>
  </p>
  <p>
    <strong>作品名:</strong>
    <%= @book.title %>
  </p>
  <p>
    <strong>作品名読み:</strong>
    <%= @book.title_kana %>
  </p>
  <p>
    <strong>副題:</strong>
    <%= @book.subtitle %>
  </p>
  <p>
    <strong>副題読み:</strong>
    <%= @book.subtitle_kana %>
  </p>
  <p>
    <strong>作品集名:</strong>
    <%= @book.collection %>
  </p>
  <p>
    <strong>作品集名読み:</strong>
    <%= @book.collection_kana %>
  </p>
  <p>
    <strong>原題:</strong>
    <%= @book.orig_title %>
  </p>
  <p>
    <strong>仮名遣い種別:</strong>
    <%= @book.kana_type_id %>
  </p>
  <!--
<p>
  <strong>Author display name:</strong>
  <%= @book.author_display_name %>
</p>
-->
  <p>
    <strong>初出:</strong>
    <%= @book.first_appearance %>
  </p>
  <p>
    <strong>作品について:</strong>
    <%= @book.description %>
  </p>
  <!--
<p>
  <strong>Description person:</strong>
  <%= @book.description_person_id %>
</p>
-->
  <p>
    <strong>状態:</strong>
    <%= @book.status %>
  </p>
  <p>
    <strong>状態の開始日:</strong>
    <%= @book.started_on %>
  </p>
  <p>
    <strong>著作権フラグ:</strong>
    <%= @book.copyright_flag %>
  </p>
  <p>
    <strong>備考:</strong>
    <%= @book.note %>
  </p>
  <p>
    <strong>底本管理情報:</strong>
    <%= @book.orig_text %>
  </p>
  <p>
    <strong>最終更新日:</strong>
    <%= @book.updated_at %>
  </p>
  <p>
    <strong>更新者:</strong>
    <%= @book.user_id %>
  </p>
  <!--
<p>
  <strong>Update flag:</strong>
  <%= @book.update_flag %>
</p>
-->
  <p>
    <strong>ソート読み:</strong>
    <%= @book.sortkey %>
  </p>
  <%= link_to '更新', edit_admin_book_path(@book) %> |
  <%= link_to '戻る', admin_books_path %>
</div>
