<%= form_with(model: proofread_form, url: proofreads_previews_path, data: { turbo: false }) do |form| %>
  <%= render FormsErrorHeaderComponent.new(form: proofread_form) %>

<h2 class="flex my-4 px-5 py-1 text-2xl font-semibold bg-gray-300 border-t border-b border-gray-500">
  作品データ
</h2>

<table class="border border-gray-500 w-full">
  <thead>
    <tr>
      <th class="bg-green-200 border border-gray-400">
        作品名<br>
        副題
      </th>
      <th class="bg-green-200 border border-gray-400">
        底本名<br>
        出版社
      </th>
      <th class="bg-green-200 border border-gray-400">
        底本コピー
      </th>
      <th class="bg-green-200 border border-gray-400">
        プリントアウト
      </th>
      <th class="bg-green-200 border border-gray-400">
        校正に使用する版
      </th>
      <th class="bg-green-200 border border-gray-400">
        入力例
      </th>
    </tr>
  </thead>
  <tbody>
    <% proofread_form.sub_works.each_with_index do |sub_work, idx| %>
    <tr>
      <%= form.fields_for :sub_works, sub_work do |fields| %>
      <td class="border border-gray-400 bg-gray-300">
        <%= fields.hidden_field :work_id %>
        <%= sub_work.title %><br>
        <%= sub_work.subtitle %>
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= sub_work.first_teihon.title %><br>
        <%= sub_work.first_teihon.publisher %>
      </td>
      <td class="border border-gray-400 bg-white">
        <label>
          <%= fields.check_box :work_copy, {}, 1, 0 %>
          要コピー
        </label>
      </td>
      <td class="border border-gray-400 bg-white">
        <label>
          <%= fields.check_box :work_print, {}, 1, 0 %>
          要プリントアウト
        </label>
      </td>
      <td class="border border-gray-400 bg-white">
        <%= fields.text_area :proof_edition, size: "24x3", class: "m-1 border border-gray-400" %>
      </td>
      <td class="border border-gray-400 bg-yellow-200 max-w-xs">
        <% if idx == 0 %>
        1986（昭和61）年10月28日第5刷<br>
        ※数字はすべて、1バイト（半角）のアラビア数字で入れてください。<br>
        西暦と元号の相関は、「西暦（和暦）年の記述」を参照してください。<br>
        「第○刷」「初版」等の表記は、底本に従ってください。<br>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<h2 class="flex my-4 px-5 py-1 text-2xl font-semibold bg-gray-300 border-t border-b border-gray-500">送付先</h2>

<table class="border border-gray-500 w-full">
  <thead>
    <tr>
      <th class="bg-green-200 border border-gray-400">
        項目名
      </th>
      <th class="bg-green-200 border border-gray-400">
        入力データ
      </th>
      <th class="bg-green-200 border border-gray-400">
        入力例
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        <%= form.label :address do %>送付先<% end %>
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.text_area :address, size: "50x15", class: "m-1 border border-gray-400" %>
      </td>
      <td class="border border-gray-400 bg-yellow-200 max-w-xs">
        〒100-0001<br>
        東京都千代田区千代田1-1-1-111<br>
        青空太郎<br>
        ※底本コピー、またはプリントアウトの送付を希望する場合のみ記入してください。
      </td>
    </tr>
  </tbody>
</table>

<h2 class="flex my-4 px-5 py-1 text-2xl font-semibold bg-gray-300 border-t border-b border-gray-500">連絡事項</h2>

<table class="border border-gray-500 w-full">
  <thead>
    <tr>
      <th class="bg-green-200 border border-gray-400">
        項目名
      </th>
      <th class="bg-green-200 border border-gray-400">
        入力データ
      </th>
      <th class="bg-green-200 border border-gray-400">
        入力例
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        <%= form.label :memo do %>連絡事項<% end %>
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.text_area :memo, size: "50x15", class: "m-1 border border-gray-400" %>
      </td>
      <td class="border border-gray-400 bg-yellow-200 max-w-xs">
        ※底本や作品に関して伝えたいことがある場合、ここに記入してください。<br>
        2000文字（原稿用紙5枚分）以内で記入してください。全角／半角とも、１文字として計算します。「記入事項の確認」画面で末尾が切れている場合は、全角2000文字以内に書き直すか、reception@aozora.gr.jpにメールで送ってください。
      </td>
    </tr>
  </tbody>
</table>

<h2 class="flex my-4 px-5 py-1 text-2xl font-semibold bg-gray-300 border-t border-b border-gray-500">校正者データ</h2>

<table class="border border-gray-500 w-full">
  <thead>
    <tr>
      <th class="bg-green-200 border border-gray-400">
        項目名
      </th>
      <th class="bg-green-200 border border-gray-400">
        入力データ
      </th>
      <th class="bg-green-200 border border-gray-400">
        入力例
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        <%= form.label :worker_id do %>耕作員ID<% end %>
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.text_field :worker_id, class: "m-1 border border-gray-400" %>
      </td>
      <td class="border border-gray-400 bg-yellow-200 max-w-xs">
        1<br>
        ※耕作員IDは、「耕作員ID一覧」を参照してください。<br>
        IDを入力できれば、その他の項目を記入する必要はありません。
      </td>
    </tr>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        <%= form.label :worker_kana do %>耕作員読み<span class="text-red-500">（必須）</span><% end %>
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.text_field :worker_kana, class: "m-1 border border-gray-400" %>
      </td>
      <td class="border border-gray-400 bg-yellow-200 max-w-xs">
        あおぞらたろう
      </td>
    </tr>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        <%= form.label :worker_name do %>耕作員名<span class="text-red-500">（必須）</span><% end %>
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.text_field :worker_name, class: "m-1 border border-gray-400" %>
      </td>
      <td class="border border-gray-400 bg-yellow-200 max-w-xs">
        青空太郎
      </td>
    </tr>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        <%= form.label :email do %>e-mail<span class="text-red-500">（必須）</span><% end %>
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.text_field :email, class: "m-1 border border-gray-400" %>
      </td>
      <td class="border border-gray-400 bg-yellow-200 max-w-xs">
        reception@aozora.gr.jp
      </td>
    </tr>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        <%= form.label :url do %>ホームページ<% end %>
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.text_field :url, class: "m-1 border border-gray-400" %>
      </td>
      <td class="border border-gray-400 bg-yellow-200 max-w-xs">
        https://www.aozora.gr.jp
      </td>
    </tr>
  </tbody>
</table>

<hr class="my-2 border border-gray-400">

<p>
  データの入力が終わったら、「確認」ボタンを押して確認画面に進んでください。
</p>

<%= form.hidden_field :person_id %>
<%= form.submit '確認', class: "btn-normal" %>
<%= form.submit '戻る', formmethod: 'get', formaction: proofreads_person_path(@author), class: "btn-normal" %>

<% end %>
