<p id="notice">
  <%= notice %>
</p>
<p>
  <strong>Book:</strong>
  <%= @proofread.book_id %>
</p>
<p>
  <strong>Book copy:</strong>
  <%= @proofread.book_copy %>
</p>
<p>
  <strong>Book print:</strong>
  <%= @proofread.book_print %>
</p>
<p>
  <strong>proof_edition:</strong>
  <%= @proofread.proof_edition %>
</p>
<p>
  <strong>Bookfile:</strong>
  <%= @proofread.bookfile_id %>
</p>
<p>
  <strong>Address:</strong>
  <%= @proofread.address %>
</p>
<p>
  <strong>Memo:</strong>
  <%= @proofread.memo %>
</p>
<p>
  <strong>Worker:</strong>
  <%= @proofread.worker_id %>
</p>
<p>
  <strong>worker kana:</strong>
  <%= @proofread.worker_kana %>
</p>
<p>
  <strong>Worker name:</strong>
  <%= @proofread.worker_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @proofread.email %>
</p>
<p>
  <strong>Url:</strong>
  <%= @proofread.url %>
</p>
<p>
  <strong>Person:</strong>
  <%= @proofread.person_id %>
</p>
<p>
  <strong>assign_status:</strong>
  <%= @proofread.assign_status %>
</p>
<p>
  <strong>order_status:</strong>
  <%= @proofread.order_status %>
</p>
<%= link_to 'Edit', edit_proofread_path(@proofread) %> |
<%= link_to 'Back', proofreads_path %>
