<p id="notice"><%= notice %></p>

<h1>Book Sites</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_sites.each do |book_site| %>
      <tr>
        <td><%= book_site.book_id %></td>
        <td><%= book_site.site_id %></td>
        <td><%= link_to 'Show', book_site %></td>
        <td><%= link_to 'Edit', edit_book_site_path(book_site) %></td>
        <td><%= link_to 'Destroy', book_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Site', new_book_site_path %>
