<%= form_with(model: [:admin, receipt_form], method: :patch, data: { turbo: false }) do |form| %>
  <% errors = receipt_form.errors %>
  <snm-headline h="h2">作品データ</snm-headline>

    <% if receipt_form.warnings? %>
    <div class="m-4 p-4 border border-red-500 text-red-500">
      <ul>
        <% receipt_form.warnings.each do |warn| %>
        <li><%= warn %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
      <thead class="bg-[#f8fafc]">
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <th class="whitespace-nowrap">
            項目名
          </th>
          <th class="whitespace-nowrap">
            入力データ
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :title_kana %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :title_kana, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :title %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :title, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :subtitle_kana %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :subtitle_kana, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :subtitle %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :subtitle, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :original_title %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :original_title, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :kana_type_id %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmCollectionSelectComponent.new(form:,
                                                               name: :kana_type_id,
                                                               label: '',
                                                               collection: KanaType.order(:id).all,
                                                               value_method: :id,
                                                               text_method: :name,
                                                               errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :first_appearance %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :first_appearance, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :memo %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextAreaComponent.new(form:, name: :memo, label: '', rows: 10, errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :note %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextAreaComponent.new(form:, name: :note, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :work_status %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmCollectionSelectComponent.new(form:,
                                                               name: :work_status_id,
                                                               label: '',
                                                               collection: WorkStatus.order(:id).all,
                                                               value_method: :id,
                                                               text_method: :name,
                                                               errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :started_on %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmDateSelectComponent.new(form:, name: :started_on, label: '', start_year: 1997, end_year: Time.zone.now.year + 2, errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :copyright_flag %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmSelectComponent.new(form:, name: :copyright_flag, choices: [['なし', false], ['あり', true]], label: '', errors:)) %>
          </td>
        </tr>
      </tbody>
    </table>

    <snm-headline h="h2">著者データ</snm-headline>

    <% if receipt_form.person_id.present? %>
    <%= render 'person_show', receipt_form:, form: %>
    <% else %>
    <%= render 'person_form', receipt_form:, form: %>
    <% end %>

    <snm-headline h="h2">入力者データ</snm-headline>

    <% if receipt_form.worker_id.present? %>
    <%= render 'worker_show', receipt_form:, form:, errors: %>
    <% else %>
    <%= render 'worker_form', receipt_form:, form:, errors: %>
    <% end %>

    <snm-headline h="h2">底本データ</snm-headline>

    <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
      <thead class="bg-[#f8fafc]">
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <th class="whitespace-nowrap">
            項目名
          </th>
          <th class="whitespace-nowrap">
            入力データ
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :original_book_title %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :original_book_title, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :publisher %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :publisher, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :first_pubdate %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :first_pubdate, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :input_edition %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :input_edition, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :original_book_note %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextAreaComponent.new(form:, name: :original_book_note, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :original_book_title2 %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :original_book_title2, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :publisher2 %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :publisher2, label: '', errors:)) %>
          </td>
        </tr>
        <tr>
          <td class="odd:w-[25%] py-3 px-5">
            <%= form.label :first_pubdate2 %>
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= render(Admin::SnmTextFieldComponent.new(form:, name: :first_pubdate2, label: '', errors:)) %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="my-5">
      <%= render(Admin::SnmCheckboxComponent.new(form:, name: :no_send_mail, label: "「入力のお願い」メールを送信しない。", checked_value: 1, unchecked_value: 0, errors:)) %>
      <%= render(Admin::SnmCheckboxComponent.new(form:, name: :cc_flag, label: "青空文庫にCCする", checked_value: 1, unchecked_value: 0, errors:)) %>
    </div>

    <div class="mt-2 flex">
      <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "登録する")) %>
      <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "削除", button_style: :alert, options: { formaction: admin_receipt_path, formmethod: :delete })) %>
    </div>

    <div class="mt-5 flex">
      <%= tag.snm_link '戻る', href: admin_receipts_path, buttonStyle: "secondary" %>
    </div>
    <% end %>
