<%= form_with(model: receipt) do |form| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>
      <ul>
        <% receipt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title_kana %>
    <%= form.text_area :title_kana %>
  </div>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>
  <div class="field">
    <%= form.label :subtitle_kana %>
    <%= form.text_area :subtitle_kana %>
  </div>
  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_area :subtitle %>
  </div>
  <div class="field">
    <%= form.label :collection_kana %>
    <%= form.text_area :collection_kana %>
  </div>
  <div class="field">
    <%= form.label :collection %>
    <%= form.text_area :collection %>
  </div>
  <div class="field">
    <%= form.label :original_title %>
    <%= form.text_area :original_title %>
  </div>
  <div class="field">
    <%= form.label :kana_type_id %>
    <%= form.text_area :kana_type_id %>
  </div>
  <div class="field">
    <%= form.label :first_appearance %>
    <%= form.text_area :first_appearance %>
  </div>
  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  </div>
  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.text_area :status %>
  </div>
  <div class="field">
    <%= form.label :started_on %>
    <%= form.text_area :started_on %>
  </div>
  <div class="field">
    <%= form.label :copyright_flag %>
    <%= form.check_box :copyright_flag %>
  </div>
  <div class="field">
    <%= form.label :last_name_kana %>
    <%= form.text_area :last_name_kana %>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_area :last_name %>
  </div>
  <div class="field">
    <%= form.label :last_name_en %>
    <%= form.text_area :last_name_en %>
  </div>
  <div class="field">
    <%= form.label :first_name_kana %>
    <%= form.text_area :first_name_kana %>
  </div>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_area :first_name %>
  </div>
  <div class="field">
    <%= form.label :first_name_en %>
    <%= form.text_area :first_name_en %>
  </div>
  <div class="field">
    <%= form.label :person_note %>
    <%= form.text_area :person_note %>
  </div>
  <div class="field">
    <%= form.label :worker_kana %>
    <%= form.text_area :worker_kana %>
  </div>
  <div class="field">
    <%= form.label :worker_name %>
    <%= form.text_area :worker_name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email %>
  </div>
  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url %>
  </div>
  <div class="field">
    <%= form.label :original_book_title %>
    <%= form.text_area :original_book_title %>
  </div>
  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_area :publisher %>
  </div>
  <div class="field">
    <%= form.label :first_pubdate %>
    <%= form.text_area :first_pubdate %>
  </div>
  <div class="field">
    <%= form.label :input_edition %>
    <%= form.text_area :input_edition %>
  </div>
  <div class="field">
    <%= form.label :original_book_title2 %>
    <%= form.text_area :original_book_title2 %>
  </div>
  <div class="field">
    <%= form.label :publisher2 %>
    <%= form.text_area :publisher2 %>
  </div>
  <div class="field">
    <%= form.label :first_pubdate2 %>
    <%= form.text_area :first_pubdate2 %>
  </div>
  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_area :person_id %>
  </div>
  <div class="field">
    <%= form.label :worker_id %>
    <%= form.text_area :worker_id %>
  </div>
  <div class="field">
    <%= form.label :created_on %>
    <%= form.date_select :created_on %>
  </div>
  <div class="field">
    <%= form.label :register_status %>
    <%= form.number_field :register_status %>
  </div>
  <div class="field">
    <%= form.label :original_book_note %>
    <%= form.text_area :original_book_note %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
