<%= form_with(model: [:admin, receipt_form], method: :patch, data: { turbo: false } ) do |form| %>
  <% if receipt_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt_form.errors.count, "件") %>の入力エラーがあります:</h2>
      <ul>
        <% receipt_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <h2 class="text-xl py-2">【作品データ】</h2>

    <table class="w-full">
      <tr>
        <th class="w-48">項目名</th>
        <th>入力データ</th>
      </tr>
      <tr>
        <th><%= form.label :title_kana %></th>
        <td><%= form.text_field :title_kana, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :title %></th>
        <td><%= form.text_field :title, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :subtitle_kana %></th>
        <td><%= form.text_field :subtitle_kana, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :subtitle %></th>
        <td><%= form.text_field :subtitle, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :original_title %></th>
        <td><%= form.text_field :original_title, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :kana_type_id %></th>
        <td><%= form.collection_select :kana_type_id, KanaType.order(:id).all, :id, :name, {prompt: '選択してください'}, {class: 'py-1 pr-8'} %></td>
      </tr>
      <tr>
        <th><%= form.label :first_appearance %></th>
        <td><%= form.text_field :first_appearance, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :memo %></th>
        <td><%= form.text_area :memo, class: "w-full border border-gray-800 p-1", rows: "15" %></td>
      </tr>
      <tr>
        <th><%= form.label :note %></th>
        <td><%= form.text_area :note, class: "w-full border border-gray-800 p-1", rows: "15" %></td>
      </tr>
      <tr>
        <th><%= form.label :work_status %></th>
        <td><%= form.collection_select :work_status_id, WorkStatus.order(:sort_order).all, :id, :name, {prompt: '選択してください'}, {class: 'py-1 pr-8'} %></td>
      </tr>
      <tr>
        <th><%= form.label :started_on %></th>
        <td><%= form.date_select :started_on, start_year: 1997, end_year: Time.zone.now.year + 1, date_separator: '-', use_month_numbers: true %></td>
      </tr>
      <tr>
        <th><%= form.label :copyright_flag %></th>
        <td><%= form.select :copyright_flag, [["なし", "0"], ["あり", "1"]] %></td>
      </tr>
    </table>

    <hr class="border-1 my-4">

    <h2 class="text-xl">【著者データ】</h2>

    <% if receipt_form.person_id.present? %>
    <%= render 'person_show', receipt_form: receipt_form, form: form %>
    <% else %>
    <%= render 'person_form', receipt_form: receipt_form, form: form %>
    <% end %>

    <hr class="border-1 my-4">

    <h2 class="text-xl">【入力者データ】</h2>

    <% if receipt_form.worker_id.present? %>
    <%= render 'worker_show', receipt_form: receipt_form, form: form %>
    <% else %>
    <%= render 'worker_form', receipt_form: receipt_form, form: form %>
    <% end %>

    <h2 class="text-xl">【底本データ】</h2>

    <table class="w-full">
      <tr>
        <th class="w-48">項目名</th>
        <th>入力データ</th>
      </tr>
      <tr>
        <th><%= form.label :original_book_title %></th>
        <td><%= form.text_field :original_book_title, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :publisher %></th>
        <td><%= form.text_field :publisher, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :first_pubdate %></th>
        <td><%= form.text_field :first_pubdate, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :input_edition %></th>
        <td><%= form.text_field :input_edition, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :original_book_note %></th>
        <td><%= form.text_area :original_book_note, class: "w-full p-1", rows: "15" %></td>
      </tr>
      <tr>
        <th><%= form.label :original_book_title2 %></th>
        <td><%= form.text_field :original_book_title2, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :publisher2 %></th>
        <td><%= form.text_field :publisher2, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :first_pubdate2 %></th>
        <td><%= form.text_field :first_pubdate2, class: "w-full p-1" %></td>
      </tr>
    </table>

    <hr class="border-1 my-4">

    <ul>
      <li>
        <%= form.check_box :no_send_mail, {}, 1, 0 %>
        <%= form.label :no_send_mail, "「入力のお願い」メールを送信しない。" %>
      </li>
      <li>
        <%= form.check_box :cc_flag, {}, 1, 0 %>
        <%= form.label :cc_flag, "青空文庫にCCする" %>
      </li>
    </ul>

    <hr class="border-1 my-4">

    <%= form.submit '登録', class: "btn-normal" %>
    <%= form.submit '戻る', formaction: admin_receipts_path, formmethod: :get, class: "btn-normal" %>
    <%= form.submit '削除', class: "btn-normal", formaction: admin_receipt_path, formmethod: :delete %>
<% end %>
