<%= form_with(model: [:admin, receipt]) do |form| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>
      <ul>
        <% receipt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <h2 class="text-xl">【作品データ】</h2>

    <table class="w-full">
      <tr>
        <th class="w-48">項目名</th>
        <th>入力データ</th>
      </tr>
      <tr>
        <th><%= form.label :title_kana %></th>
        <td><%= form.text_field :title_kana, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :title %></th>
        <td><%= form.text_field :title, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :subtitle_kana %></th>
        <td><%= form.text_field :subtitle_kana, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :subtitle %></th>
        <td><%= form.text_field :subtitle, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :original_title %></th>
        <td><%= form.text_field :original_title, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :kana_type_id %></th>
        <td><%= form.collection_select :kana_type_id, KanaType.order(:id).all, :id, :name, {prompt: '選択してください'}, {class: 'py-1 pr-8'} %></td>
      </tr>
      <tr>
        <th><%= form.label :first_appearance %></th>
        <td><%= form.text_field :first_appearance, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :memo %></th>
        <td><%= form.text_area :memo, class: "w-full border border-gray-800 p-1", rows: "15" %></td>
      </tr>
      <tr>
        <th><%= form.label :note %></th>
        <td><%= form.text_area :note, class: "w-full border border-gray-800 p-1", rows: "15" %></td>
      </tr>
      <tr>
        <th><%= form.label :status %></th>
        <td><%= form.collection_select :status, WorkStatus.order(:sort_order).all, :id, :name, {prompt: '選択してください'}, {class: 'py-1 pr-8'} %></td>
      </tr>
      <tr>
        <th><%= form.label :started_on %></th>
        <td><%= form.date_select :started_on %></td>
      </tr>
      <tr>
        <th><%= form.label :copyright_flag %></th>
        <td><%= form.select :copyright_flag, [["なし", "0"], ["あり", "1"]] %></td>
      </tr>
    </table>

    <hr class="border-1 my-4">

    <h2 class="text-xl">【著者データ】</h2>

    <table class="w-full">
      <tr>
        <th class="w-48">項目名</th>
        <th>入力データ</th>
      </tr>
      <tr>
        <th><%= form.label :person_id %></th>
        <td><%= form.text_field :person_id, class: "w-full p-1"  %></td>
      </tr>
      <tr>
        <th><%= form.label :last_name_kana %></th>
        <td><%= form.text_field :last_name_kana, class: "w-full p-1"  %></td>
      </tr>
      <tr>
        <th><%= form.label :last_name %></th>
        <td><%= form.text_field :last_name, class: "w-full p-1"  %></td>
      </tr>
      <tr>
        <th><%= form.label :last_name_en %></th>
        <td><%= form.text_field :last_name_en, class: "w-full p-1"  %></td>
      </tr>
      <tr>
        <th><%= form.label :first_name_kana %></th>
        <td><%= form.text_field :first_name_kana, class: "w-full p-1"  %></td>
      </tr>
      <tr>
        <th><%= form.label :first_name %></th>
        <td><%= form.text_field :first_name, class: "w-full p-1"  %></td>
      </tr>
      <tr>
        <th><%= form.label :first_name_en %></th>
        <td><%= form.text_field :first_name_en, class: "w-full p-1"  %></td>
      </tr>
      <tr>
        <th><%= form.label :person_note %></th>
        <td><%= form.text_area :person_note, class: "w-full p-1"  %></td>
      </tr>
    </table>

    <hr class="border-1 my-4">

    <h2 class="text-xl">【入力者データ】</h2>

    <table class="w-full">
      <tr>
        <th class="w-48">項目名</th>
        <th>入力データ</th>
      </tr>
      <tr>
        <th><%= form.label :worker_kana %></th>
        <td><%= form.text_field :worker_kana, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :worker_name %></th>
        <td><%= form.text_field :worker_name, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :email %></th>
        <td><%= form.text_field :email, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :url %></th>
        <td><%= form.text_field :url, class: "w-full p-1" %></td>
      </tr>
    </table>

    <ul>
      <li>上記の内容で工作員を新規登録する</li>
      <li> 一時的に予備工作員に関連付ける</li>
    </ul>

    <hr class="border-1 my-4">

    <h2 class="text-xl">【底本データ】</h2>

    <table class="w-full">
      <tr>
        <th class="w-48">項目名</th>
        <th>入力データ</th>
      </tr>
      <tr>
        <th><%= form.label :original_book_title %></th>
        <td><%= form.text_field :original_book_title, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :publisher %></th>
        <td><%= form.text_field :publisher, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :first_pubdate %></th>
        <td><%= form.text_field :first_pubdate, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :input_edition %></th>
        <td><%= form.text_field :input_edition, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :original_book_note %></th>
        <td><%= form.text_area :original_book_note, class: "w-full p-1", rows: "15" %></td>
      </tr>
      <tr>
        <th><%= form.label :original_book_title2 %></th>
        <td><%= form.text_field :original_book_title2, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :publisher2 %></th>
        <td><%= form.text_field :publisher2, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :first_pubdate2 %></th>
        <td><%= form.text_field :first_pubdate2, class: "w-full p-1" %></td>
      </tr>
    </table>

    <hr class="border-1 my-4">

    <ul>
      <li>「入力のお願い」メールを送信しない。</li>
      <li>青空文庫にCCする。</li>
    </ul>

    <hr class="border-1 my-4">

    <%= form.submit '登録', class: "btn-normal" %>
    <%= form.submit '戻る', class: "btn-normal" %>
    <%= form.submit '削除', class: "btn-normal" %>
<% end %>
