<%= form_with(model: [:admin, receipt]) do |form| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>
      <ul>
        <% receipt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h2 class="text-xl">【作品データ】</h2>
    <table class="w-full">
      <tr>
        <th>項目名</th>
        <th>入力データ</th>
      </tr>
      <tr>
        <th><%= form.label :title_kana %></th>
        <td><%= form.text_field :title_kana, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :title %></th>
        <td><%= form.text_field :title, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :subtitle_kana %></th>
        <td><%= form.text_field :subtitle_kana, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :subtitle %></th>
        <td><%= form.text_field :subtitle, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :collection_kana %></th>
        <td><%= form.text_field :collection_kana, class: "w-full p-1" %></td>
      </tr>
      <tr>
      <th><%= form.label :collection %></th>
      <td><%= form.text_field :collection, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :original_title %></th>
        <td><%= form.text_field :original_title, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :kana_type_id %></th>
        <td><%= form.collection_select :kana_type_id, KanaType.order(:id).all, :id, :name, {prompt: '選択してください'}, {class: 'py-1 pr-8'} %></td>
      </tr>
      <tr>
        <th><%= form.label :first_appearance %></th>
        <td><%= form.text_field :first_appearance, class: "w-full p-1" %></td>
      </tr>
      <tr>
        <th><%= form.label :memo %></th>
        <td><%= form.text_area :memo, class: "w-full border border-gray-800 p-1", rows: "15" %></td>
      </tr>
      <tr>
        <th><%= form.label :note %></th>
        <td><%= form.text_area :note, class: "w-full border border-gray-800 p-1", rows: "15" %></td>
      </tr>
      <tr>
        <th><%= form.label :status %></th>
        <td><%= form.collection_select :status, WorkStatus.order(:sort_order).all, :id, :name, {prompt: '選択してください'}, {class: 'py-1 pr-8'} %></td>
      </tr>
      <tr>
        <th><%= form.label :started_on %></th>
        <td><%= form.date_select :started_on %></td>
      </tr>
      <tr>
        <th><%= form.label :copyright_flag %></th>
        <td><%= form.check_box :copyright_flag %></td>
      </tr>
    </table>

  <div class="field">
    <%= form.label :last_name_kana %>
    <%= form.text_area :last_name_kana %>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_area :last_name %>
  </div>
  <div class="field">
    <%= form.label :last_name_en %>
    <%= form.text_area :last_name_en %>
  </div>
  <div class="field">
    <%= form.label :first_name_kana %>
    <%= form.text_area :first_name_kana %>
  </div>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_area :first_name %>
  </div>
  <div class="field">
    <%= form.label :first_name_en %>
    <%= form.text_area :first_name_en %>
  </div>
  <div class="field">
    <%= form.label :person_note %>
    <%= form.text_area :person_note %>
  </div>
  <div class="field">
    <%= form.label :worker_kana %>
    <%= form.text_area :worker_kana %>
  </div>
  <div class="field">
    <%= form.label :worker_name %>
    <%= form.text_area :worker_name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email %>
  </div>
  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url %>
  </div>
  <div class="field">
    <%= form.label :original_book_title %>
    <%= form.text_area :original_book_title %>
  </div>
  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_area :publisher %>
  </div>
  <div class="field">
    <%= form.label :first_pubdate %>
    <%= form.text_area :first_pubdate %>
  </div>
  <div class="field">
    <%= form.label :input_edition %>
    <%= form.text_area :input_edition %>
  </div>
  <div class="field">
    <%= form.label :original_book_title2 %>
    <%= form.text_area :original_book_title2 %>
  </div>
  <div class="field">
    <%= form.label :publisher2 %>
    <%= form.text_area :publisher2 %>
  </div>
  <div class="field">
    <%= form.label :first_pubdate2 %>
    <%= form.text_area :first_pubdate2 %>
  </div>
  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_area :person_id %>
  </div>
  <div class="field">
    <%= form.label :worker_id %>
    <%= form.text_area :worker_id %>
  </div>
  <div class="field">
    <%= form.label :register_status %>
    <%= form.number_field :register_status %>
  </div>
  <div class="field">
    <%= form.label :original_book_note %>
    <%= form.text_area :original_book_note %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
