<table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
  <thead class="bg-[#f8fafc]">
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <th class="whitespace-nowrap">
        項目名
      </th>
      <th class="whitespace-nowrap">
        入力データ
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        <%= form.label :person_id %>
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= text_field_tag :person_id_disabled, nil, disabled: true, autocomplete: :off, class: "w-full p-1 bg-gray-100" %>
      </td>
    </tr>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        <%= form.label :last_name_kana %>
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= render(Admin::SnmTextFieldComponent.new(form:, name: :last_name_kana, label: '', errors:)) %>
      </td>
    </tr>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        <%= form.label :last_name %>
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= render(Admin::SnmTextFieldComponent.new(form:, name: :last_name, label: '', errors:)) %>
      </td>
    </tr>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        <%= form.label :last_name_en %>
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= render(Admin::SnmTextFieldComponent.new(form:, name: :last_name_en, label: '', errors:)) %>
      </td>
    </tr>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        <%= form.label :first_name_kana %>
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= render(Admin::SnmTextFieldComponent.new(form:, name: :first_name_kana, label: '', errors:)) %>
      </td>
    </tr>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        <%= form.label :first_name %>
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= render(Admin::SnmTextFieldComponent.new(form:, name: :first_name, label: '', errors:)) %>
      </td>
    </tr>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        <%= form.label :first_name_en %>
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= render(Admin::SnmTextFieldComponent.new(form:, name: :first_name_en, label: '', errors:)) %>
      </td>
    </tr>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        <%= form.label :person_note %>
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= render(Admin::SnmTextFieldComponent.new(form:, name: :person_note, label: '', errors:)) %>
      </td>
    </tr>
  </tbody>
</table>

<div class="py-4" id="person-selector">
  <snm-headline h="h3">著者選択オプション</snm-headline>

  <ul class="w-full py-4 ml-24">
    <li>
      <%= form.radio_button :person_id, -1 %>
      <%= form.label :person_id, '上記の内容で人物を新規登録する', value: -1 %>
    </li>
    <li>
      <%= form.radio_button :person_id, 0 %>
      <%= form.label :person_id, '一時的に人物（著者なし）に関連付ける', value: 0 %>
    </li>
    <li>
    </li>
    <% receipt_form.search_similar_people.each do |searched_person| %>
    <li>
      <%= form.radio_button :person_id, searched_person.id %>
      <%= form.label :person_id, searched_person.name, value: searched_person.id %>
    </li>
    <% end %>
  </ul>
  <%= render(Admin::SubmitComponent.new(form:, name: "resubmit", value: "再検索", options: { formaction: edit_admin_receipt_path(receipt_form.receipt), formmethod: :get })) %>
</div>
