<table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
  <thead class="bg-[#f8fafc]">
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <th class="whitespace-nowrap">
        項目名
      </th>
      <th class="whitespace-nowrap">
        入力データ
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        工作員ID
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= text_field_tag :worker_id_disabled, nil, disabled: true, autocomplete: :off, class: "w-full p-1 bg-gray-100" %>
      </td>
    </tr>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        工作員名読み
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= render(Admin::SnmTextFieldComponent.new(form:, name: :worker_kana, label: '', errors:)) %>
      </td>
    </tr>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        工作員名
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= render(Admin::SnmTextFieldComponent.new(form:, name: :worker_name, label: '', errors:)) %>
      </td>
    </tr>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        e-mail
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= render(Admin::SnmTextFieldComponent.new(form:, name: :email, label: '', errors:)) %>
      </td>
    </tr>
    <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
      <td class="odd:w-[25%] py-3 px-5">
        ホームページ
      </td>
      <td class="odd:w-[25%] py-3 px-5">
        <%= render(Admin::SnmTextFieldComponent.new(form:, name: :url, label: '', errors:)) %>
      </td>
    </tr>
  </tbody>
</table>

<div class="py-4" id="worker-selector">
  <snm-headline h="h3">工作員選択オプション</snm-headline>

  <% if errors[:worker_id]&.any? %>
  <%= tag.div errors.full_messages_for(:worker_id).join(', '), class: "text-sm text-red-500 required:block" %>
  <% end %>

  <div class="mb-2">
    <%= form.radio_button :worker_id, -1 %>
    <%= form.label :worker_id, '上記の内容で工作員を新規登録する', value: -1 %>
  </div>
  <div class="mb-2">
    <%= form.radio_button :worker_id, 0 %>
    <%= form.label :worker_id, '一時的に予備工作員に関連付ける', value: 0 %>
  </div>
  <% receipt_form.search_similar_workers.each do |searched_worker| %>
  <div class="mb-2">
    <%= form.radio_button :worker_id, searched_worker.id %>
    <%= form.label :worker_id, searched_worker.name, value: searched_worker.id %>
  </div>
  <% end %>

  <%= render(Admin::SubmitComponent.new(form:, name: "resubmit", value: "再検索", options: { formaction: edit_admin_receipt_path(receipt_form.receipt), formmethod: :get })) %>
</div>
