<div class="w-full">
  <snm-headline h="h1">Web入力受付管理</snm-headline>
  <div class="flex flex-col gap-5 mb-5">

    <snm-headline h="h2">Web受付作品一覧</snm-headline>
    <p>
      <%= @receipts.count %>件の作品が見つかりました。
    </p>
  </div>

  <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
    <thead class="text-center bg-[#f8fafc]">
      <tr class="h-10 even:bg-[#f8fafc]">
        <th class="whitespace-nowrap">連番</th>
        <th class="whitespace-nowrap">日付</th>
        <th class="whitespace-nowrap">作品名</th>
        <th class="whitespace-nowrap">文字遣い</th>
        <th class="whitespace-nowrap">著者</th>
        <th class="whitespace-nowrap">入力者</th>
        <th class="whitespace-nowrap">登録</th>
      </tr>
    </thead>
    <tbody>
      <% @receipts.order(register_status: :desc, created_at: :desc).each_with_index do |receipt, index| %>
      <tr class="h-10 even:bg-[#f8fafc]">
        <td class="text-center whitespace-nowrap py-3">
          <%= index + 1 %>
        </td>
        <td class="text-center whitespace-nowrap py-3">
          <%= receipt.created_at.strftime("%Y-%m-%d") %>
        </td>
        <td class="text-center py-3">
          <% if receipt.ordered? %>
          <%= link_to receipt.title, admin_receipt_path(receipt), class: "link-normal" %>
          <% else %>
          <%= link_to receipt.title, edit_admin_receipt_path(receipt), class: "link-normal" %>
          <% end %>
        </td>
        <td class="text-center whitespace-nowrap py-3">
          <%= receipt.kana_type&.name %>
        </td>
        <td class="text-center py-3">
          <% if receipt.person_id.present? %>
          <%= receipt.name %> (<%= link_to receipt.person_id, admin_person_path(id: receipt.person_id), class: "link-normal" %>)
          <% else %>
          <%= receipt.name %> (<%= receipt.person_id %>)
          <% end %>
        </td>
        <td class="text-center py-3">
          <%= receipt.worker_name %>
        </td>
        <td class="text-center py-3">
          <% if receipt.ordered? %>
          <%= tag.snm_status statusType: "green", label: "済" %>
          <% else %>
          <%= tag.snm_status statusType: "gray", label: "未" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mt-5 inline-block">
  <snm-headline h="h3">発注済みの一括削除</snm-headline>

  <%= form_with(url: admin_receipts_bulk_removes_path, method: :post, data: { turbo_confirm: '本当に一括削除しますか？' }) do |form| %>
  <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "一括削除する", button_style: :alert)) %>
  <% end %>
</div>
