<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
<h1 class="text-2xl py-4">Web入力受付管理</h1>

<h2 class="text-xl py-2">Web受付作品一覧</h2>
<p>
  <%= @receipts.count %>件の作品が見つかりました。
</p>
<table class="w-full my-4">
  <thead>
    <tr>
      <th>連番</th>
      <th>日付</th>
      <th>作品名</th>
      <th>文字遣い</th>
      <th>著者</th>
      <th>入力者</th>
      <th>登録</th>
    </tr>
  </thead>
  <tbody>
    <% @receipts.order(register_status: :desc, created_at: :desc).each_with_index do |receipt, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= receipt.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to receipt.title, edit_admin_receipt_path(receipt), class: "link-normal" %></td>
        <td><%= receipt.kana_type&.name %></td>
        <% if receipt.person_id.present? %>
        <td><%= receipt.name %> (<%= link_to receipt.person_id, admin_person_path(id: receipt.person_id), class: "link-normal" %>)</td>
        <% else %>
        <td><%= receipt.name %> (<%= receipt.person_id %>)</td>
        <% end %>
        <td><%= receipt.worker_name %></td>
        <td>
          <% if receipt.ordered? %>
          <span class="text-red-500">済</span>
          <% else %>
          <span>未</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="text-xl py-2">発注済みの一括削除</h2>

<%= form_with(url: admin_receipts_bulk_removes_path, method: :post, data: { turbo_confirm: '本当に一括削除しますか？' }) do |form| %>
<%= form.submit '一括削除する', class: "btn-admin-danger" %>
<% end %>

</div>
