<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
<p id="notice"><%= notice %></p>
<h1 class="text-2xl">Web入力受付管理</h1>

<h2 class="text-xl">Web受付作品一覧</h2>
<p>
  <%= @receipts.count %>件の作品が見つかりました。　　　
</p>
<table class="w-full my-4">
  <thead>
    <tr>
      <th>連番</th>
      <th>日付</th>
      <th>作品名</th>
      <th>文字遣い</th>
      <th>著者</th>
      <th>入力者</th>
      <th>登録</th>
    </tr>
  </thead>
  <tbody>
    <% @receipts.order(register_status: :desc, created_at: :desc).each_with_index do |receipt, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= receipt.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to receipt.title, edit_admin_receipt_path(receipt), class: "link-normal" %></td>
        <td><%= receipt.kana_type&.name %></td>
        <% if receipt.person_id.present? %>
        <td><%= receipt.name %> (<%= link_to receipt.person_id, admin_person_path(id: receipt.person_id), class: "link-normal" %>)</td>
        <% else %>
        <td><%= receipt.name %> (<%= receipt.person_id %>)</td>
        <% end %>
        <td><%= receipt.worker_name %></td>
        <td><span class="text-red-500"><%= receipt.status_name %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
