<p id="notice"><%= notice %></p>

<p>
  <strong>Sakuhinmeiyomi:</strong>
  <%= @receipt.sakuhinmeiyomi %>
</p>

<p>
  <strong>Sakuhinmei:</strong>
  <%= @receipt.sakuhinmei %>
</p>

<p>
  <strong>Fukudaiyomi:</strong>
  <%= @receipt.fukudaiyomi %>
</p>

<p>
  <strong>Fukudai:</strong>
  <%= @receipt.fukudai %>
</p>

<p>
  <strong>Sakuhinshuumeiyomi:</strong>
  <%= @receipt.sakuhinshuumeiyomi %>
</p>

<p>
  <strong>Sakuhinshuumei:</strong>
  <%= @receipt.sakuhinshuumei %>
</p>

<p>
  <strong>Gendai:</strong>
  <%= @receipt.gendai %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @receipt.kana %>
</p>

<p>
  <strong>Shoshutu:</strong>
  <%= @receipt.shoshutu %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @receipt.memo %>
</p>

<p>
  <strong>Bikou:</strong>
  <%= @receipt.bikou %>
</p>

<p>
  <strong>Status:</strong>
  <%= @receipt.status %>
</p>

<p>
  <strong>Statusdate:</strong>
  <%= @receipt.statusdate %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @receipt.copyright %>
</p>

<p>
  <strong>Seiyomi:</strong>
  <%= @receipt.seiyomi %>
</p>

<p>
  <strong>Sei:</strong>
  <%= @receipt.sei %>
</p>

<p>
  <strong>Seieiji:</strong>
  <%= @receipt.seieiji %>
</p>

<p>
  <strong>Meiyomi:</strong>
  <%= @receipt.meiyomi %>
</p>

<p>
  <strong>Mei:</strong>
  <%= @receipt.mei %>
</p>

<p>
  <strong>Meieiji:</strong>
  <%= @receipt.meieiji %>
</p>

<p>
  <strong>Jbikou:</strong>
  <%= @receipt.jbikou %>
</p>

<p>
  <strong>Seimeiyomi:</strong>
  <%= @receipt.seimeiyomi %>
</p>

<p>
  <strong>Seimei:</strong>
  <%= @receipt.seimei %>
</p>

<p>
  <strong>Email:</strong>
  <%= @receipt.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @receipt.url %>
</p>

<p>
  <strong>Bookname:</strong>
  <%= @receipt.bookname %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @receipt.publisher %>
</p>

<p>
  <strong>Firstversion:</strong>
  <%= @receipt.firstversion %>
</p>

<p>
  <strong>Versioninput:</strong>
  <%= @receipt.versioninput %>
</p>

<p>
  <strong>Bookname2:</strong>
  <%= @receipt.bookname2 %>
</p>

<p>
  <strong>Publisher2:</strong>
  <%= @receipt.publisher2 %>
</p>

<p>
  <strong>Firstversion2:</strong>
  <%= @receipt.firstversion2 %>
</p>

<p>
  <strong>Personid:</strong>
  <%= @receipt.personid %>
</p>

<p>
  <strong>Workerid:</strong>
  <%= @receipt.workerid %>
</p>

<p>
  <strong>Insdate:</strong>
  <%= @receipt.insdate %>
</p>

<p>
  <strong>Sts:</strong>
  <%= @receipt.sts %>
</p>

<p>
  <strong>Bkbikou:</strong>
  <%= @receipt.bkbikou %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
