<div class="w-full">
  <snm-headline h="h1">申請内容詳細</snm-headline>

  <div class="flex flex-col gap-5 mb-5">
    <snm-headline h="h2">作品データ</snm-headline>

    <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
      <thead class="bg-[#f8fafc]">
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <th class="whitespace-nowrap">
            項目名
          </th>
          <th class="whitespace-nowrap">
            入力データ
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            作品名読み
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.title_kana %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            作品名
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.title %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            副題読み
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.subtitle_kana %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            副題
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.subtitle %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            原題
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.original_title %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            仮名遣い種別
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.kana_type_name %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            初出
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.first_appearance %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc]">
          <td class="odd:w-[25%] py-3 px-5">
            作品について
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.memo %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            備考
          </th>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.note %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            状態
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.work_status_name %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            状態の開始日
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.started_on %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            著作権
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.copyright_flag_name %>
          </td>
        </tr>
      </tbody>
    </table>

    <snm-headline h="h2">著者データ</snm-headline>

    <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
      <thead class="bg-[#f8fafc]">
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <th class="whitespace-nowrap">
            項目名
          </th>
          <th class="whitespace-nowrap">
            入力データ
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            人物ID
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= link_to @receipt.person_id, admin_person_path(@receipt.person_id) %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            姓読み
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.last_name_kana %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            姓
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.last_name %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            姓ローマ字
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.last_name_en %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            名読み
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.first_name_kana %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            名
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.first_name %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            名ローマ字
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.first_name_en %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            備考
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.person_note %>
          </td>
        </tr>
      </tbody>
    </table>

    <snm-headline h="h2">入力者データ</snm-headline>

    <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
      <thead class="bg-[#f8fafc]">
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <th class="whitespace-nowrap">
            項目名
          </th>
          <th class="whitespace-nowrap">
            入力データ
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            工作員ID
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= link_to @receipt.worker_id, admin_worker_path(@receipt.worker_id) %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            工作員名読み
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.worker_kana %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            工作員名
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.worker_name %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            e-mail
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.email %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            ホームページ
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.url %>
          </td>
        </tr>
      </tbody>
    </table>

    <snm-headline h="h2">底本データ</snm-headline>

    <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
      <thead class="bg-[#f8fafc]">
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <th class="whitespace-nowrap">
            項目名
          </th>
          <th class="whitespace-nowrap">
            入力データ
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            底本名
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.original_book_title %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            出版社名
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.publisher %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            初版発行年
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.first_pubdate %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            入力に使用する版
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.input_edition %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            備考
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.original_book_note %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            底本の親本名
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.original_book_title2 %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            底本の親本出版社名
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.publisher2 %>
          </td>
        </tr>
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <td class="odd:w-[25%] py-3 px-5">
            底本の親本初版発行年
          </td>
          <td class="odd:w-[25%] py-3 px-5">
            <%= @receipt.first_pubdate2 %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "戻る", href: admin_receipts_path, buttonstyle: 'secondary' %>
  </div>
</div>
