<%= form_with(model: user, url: admin_users_other_path) do |form| %>
  <% if user.errors.any? %>
  <%= tag.snm_message_bar "入力エラーがあります", level: "alert" %>
  <% end %>
  <% errors = user.errors %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :username, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :email, errors:)) %>
  <div class="mt-2 flex">
    <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "更新する")) %>
  </div>
<% end %>
