<%= form_with(model: user, url: admin_users_other_path) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: user.model_name.human, count: user.errors.count) %></h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <div class="field py-2">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div class="field py-2">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="actions py-2">
    <%= form.submit "更新", class: 'btn-admin-normal' %>
  </div>
<% end %>
