<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>管理者更新<% end %>
  <%= render 'form', user: @user %>
  <div class="flex">
    <%= snm_link "戻る", href: admin_users_others_path, button_style: "secondary" %>
  </div>

  <%= snm_headline h: 'h1' do %>管理者削除<% end %>

  <p>管理者を削除します。この操作は戻せません。</p>

  <div class="flex mt-5">
    <%= render(Admin::DeleteButtonComponent.new(url: admin_users_other_path(@user))) %>
  </div>

</div>
