<div class="w-full md:w-2/3">
  <snm-headline h="h2">管理者の追加</snm-headline>

  <%= form_with(model: @user, url: admin_users_others_path, method: "post") do |form| %>
    <% errors = @user.errors %>
    <%= render(Admin::SnmTextFieldComponent.new(form:, name: :username, errors:)) %>
    <%= render(Admin::SnmTextFieldComponent.new(form:, name: :email, errors:)) %>
    <%= render(Admin::SnmTextFieldComponent.new(form:, name: :password, errors:)) %>
    <%= render(Admin::SnmTextFieldComponent.new(form:, name: :password_confirmation, errors:)) %>
    <div class="mt-2 flex">
      <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "登録する")) %>
    </div>
  <% end %>

  <div class="mt-4">
    <snm-headline h="h2">管理者一覧</snm-headline>
    <%= render(Admin::UsersTableComponent.new(users: @users, pagy: @pagy)) %>
  </div>
</div>
