<%= form_with(model: book_worker) do |form| %>
  <% if book_worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_worker.errors.count, "error") %> prohibited this book_worker from being saved:</h2>

      <ul>
        <% book_worker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.number_field :book_id %>
  </div>

  <div class="field">
    <%= form.label :worker_id %>
    <%= form.number_field :worker_id %>
  </div>

  <div class="field">
    <%= form.label :worker_role_id %>
    <%= form.number_field :worker_role_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
