<p id="notice"><%= notice %></p>

<h1>Book Workers</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Woker</th>
      <th>Worker role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_workers.each do |book_worker| %>
      <tr>
        <td><%= book_worker.book_id %></td>
        <td><%= book_worker.woker_id %></td>
        <td><%= book_worker.worker_role_id %></td>
        <td><%= link_to 'Show', book_worker %></td>
        <td><%= link_to 'Edit', edit_book_worker_path(book_worker) %></td>
        <td><%= link_to 'Destroy', book_worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Worker', new_book_worker_path %>
