<p id="notice"><%= notice %></p>

<h1>Bibclasses</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Name</th>
      <th>Num</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bibclasses.each do |bibclass| %>
      <tr>
        <td><%= bibclass.book_id %></td>
        <td><%= bibclass.name %></td>
        <td><%= bibclass.num %></td>
        <td><%= bibclass.note %></td>
        <td><%= link_to 'Show', bibclass %></td>
        <td><%= link_to 'Edit', edit_bibclass_path(bibclass) %></td>
        <td><%= link_to 'Destroy', bibclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bibclass', new_bibclass_path %>
