<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @bibclass.book_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bibclass.name %>
</p>

<p>
  <strong>Num:</strong>
  <%= @bibclass.num %>
</p>

<p>
  <strong>Note:</strong>
  <%= @bibclass.note %>
</p>

<%= link_to 'Edit', edit_bibclass_path(@bibclass) %> |
<%= link_to 'Back', bibclasses_path %>
