<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_area :last_name %>
  </div>

  <div class="field">
    <%= form.label :last_name_kana %>
    <%= form.text_area :last_name_kana %>
  </div>

  <div class="field">
    <%= form.label :last_name_en %>
    <%= form.text_area :last_name_en %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_area :first_name %>
  </div>

  <div class="field">
    <%= form.label :first_name_kana %>
    <%= form.text_area :first_name_kana %>
  </div>

  <div class="field">
    <%= form.label :first_name_en %>
    <%= form.text_area :first_name_en %>
  </div>

  <div class="field">
    <%= form.label :born_on %>
    <%= form.date_select :born_on %>
  </div>

  <div class="field">
    <%= form.label :died_on %>
    <%= form.date_select :died_on %>
  </div>

  <div class="field">
    <%= form.label :copyright_flag %>
    <%= form.check_box :copyright_flag %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :note_user_id %>
    <%= form.number_field :note_user_id %>
  </div>

  <div class="field">
    <%= form.label :basename %>
    <%= form.text_area :basename %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label :updated_by %>
    <%= form.text_area :updated_by %>
  </div>

  <div class="field">
    <%= form.label :sortkey %>
    <%= form.text_area :sortkey %>
  </div>

  <div class="field">
    <%= form.label :sortkey2 %>
    <%= form.text_area :sortkey2 %>
  </div>

  <div class="field">
    <%= form.label :input_count %>
    <%= form.number_field :input_count %>
  </div>

  <div class="field">
    <%= form.label :publish_count %>
    <%= form.number_field :publish_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
