<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Last name kana:</strong>
  <%= @person.last_name_kana %>
</p>

<p>
  <strong>Last name en:</strong>
  <%= @person.last_name_en %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>First name kana:</strong>
  <%= @person.first_name_kana %>
</p>

<p>
  <strong>First name en:</strong>
  <%= @person.first_name_en %>
</p>

<p>
  <strong>Born on:</strong>
  <%= @person.born_on %>
</p>

<p>
  <strong>Died on:</strong>
  <%= @person.died_on %>
</p>

<p>
  <strong>Copyright flag:</strong>
  <%= @person.copyright_flag %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @person.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Note user:</strong>
  <%= @person.note_user_id %>
</p>

<p>
  <strong>Basename:</strong>
  <%= @person.basename %>
</p>

<p>
  <strong>Note:</strong>
  <%= @person.note %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @person.updated_by %>
</p>

<p>
  <strong>Sortkey:</strong>
  <%= @person.sortkey %>
</p>

<p>
  <strong>Sortkey2:</strong>
  <%= @person.sortkey2 %>
</p>

<p>
  <strong>Input count:</strong>
  <%= @person.input_count %>
</p>

<p>
  <strong>Publish count:</strong>
  <%= @person.publish_count %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
