<p id="notice"><%= notice %></p>

<h1>Kana Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kana_types.each do |kana_type| %>
      <tr>
        <td><%= kana_type.name %></td>
        <td><%= link_to 'Show', kana_type %></td>
        <td><%= link_to 'Edit', edit_kana_type_path(kana_type) %></td>
        <td><%= link_to 'Destroy', kana_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kana Type', new_kana_type_path %>
