<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <base href="https://www.aozora.gr.jp/" target="_blank">
  </head>

  <body class="<%= bgcolor %>">
    <main class="container mx-auto py-1" data-turbo="false">
      <%= content %>
    </main>
  </body>
</html>
