<%= form_with(model: admin_mail_secret, url: admin_admin_mail_secrets_previews_path, data: { turbo: false }) do |form| %>
  <% errors = admin_mail_secret.errors %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :worker_id, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :subject, errors:)) %>
  <%= render(Admin::SnmTextAreaComponent.new(form:, name: :body, rows: 10, errors:)) %>
  <%= render(Admin::SnmCheckboxComponent.new(form:, name: :cc_flag, checked_value: "cc_reception", unchecked_value: "not_cc", errors:)) %>
  <div class="mt-4 flex">
    <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "確認する")) %>
  </div>
<% end %>
