<%= form_with(model: [:admin, news]) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>
      <ul>
        <% news.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :published_on, "日付" %>
    <%= form.date_select :published_on %>
  </div>
  <div class="field">
    <%= form.label :title, "見出し" %>
    <%= form.text_area :title %>
  </div>
  <div class="field">
    <%= form.label :body, "本文" %>
    <%= form.text_area :body %>
  </div>
  <div class="field">
    <%= form.label :flag do %>
      <%= form.check_box :flag %>
      ニュースに指定する
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>
<p>
  図書カードURLの書式：
  <blockquote>
    ../cards/xxxxxx/cardzzzz.html
  </blockquote>
</p>
<p>
  　xxxxxxは人物ID、先頭ゼロの6桁固定<br>
  　zzzzは作品ID、先頭ゼロなし、桁数は不定
</p>
