<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <p id="notice"><%= notice %></p>
  <h1 class="text-2xl">そらもよう編集室</h1>
  <%= link_to '新しい記事を追加', new_admin_news_path %>
  <table>
    <thead>
      <tr>
        <th>日付</th>
        <th>見出し</th>
        <th>本文</th>
        <th>ニュース指定</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
      <% @news.each do |news| %>
        <tr>
          <td><%= news.published_on %></td>
          <td><%= link_to truncate(news.title, length: 30), admin_news_path(news) %></td>
          <td><%= truncate(news.body, length: 20) %></td>
          <td><%= news.flag ? "有" : "無" %></td>
          <td><%= link_to '削除', [:admin, news], method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_nav(@pagy) %>
</div>
