<div class="w-full">
  <snm-headline h="h1">記事の表示</snm-headline>

  <snm-headline h="h3">日付</snm-headline>

  <div>
      <%= @news_entry.published_on %>
  </div>

  <snm-headline h="h3">見出し</snm-headline>

  <div>
    <%= @news_entry.title %>
  </div>

  <snm-headline h="h3">本文</snm-headline>

  <div class="news-body border border-gray-600 p-4">
    <%== nl2br(@news_entry.body) %>
  </div>

  <snm-headline h="h3">トピックに指定する</snm-headline>

  <div>
    <%= @news_entry.flag ? '指定する' : '指定しない' %>
  </div>

  <div class="mt-5 flex">
    <%= tag.snm_link '修正', href: edit_admin_news_entry_path(@news_entry) %>
    <%= tag.snm_link '戻る', href: admin_news_entries_path, buttonstyle: "secondary" %>
  </div>
</div>
