<div class="w-full">
  <%= snm_headline h: 'h1' do %>記事の表示<% end %>

  <%= snm_headline h: 'h3' do %>日付<% end %>

  <div>
      <%= @news_entry.published_on %>
  </div>

  <%= snm_headline h: 'h3' do %>見出し<% end %>

  <div>
    <%= @news_entry.title %>
  </div>

  <%= snm_headline h: 'h3' do %>本文<% end %>

  <div class="news-body border border-gray-600 p-4">
    <%= safe_html(nl2br(@news_entry.body)) %>
  </div>

  <%= snm_headline h: 'h3' do %>トピックに指定する<% end %>

  <div>
    <%= @news_entry.flag ? '指定する' : '指定しない' %>
  </div>

  <div class="mt-5 flex">
    <%= snm_link '修正', href: edit_admin_news_entry_path(@news_entry) %>
    <%= snm_link '戻る', href: admin_news_entries_path, button_style: "secondary" %>
  </div>
</div>
