<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <p id="notice"><%= notice %></p>
  <h1>記事の表示</h1>
  <p>
    <strong>日付:</strong>
    <%= @news_entry.published_on %>
  </p>
  <p>
    <strong>見出し:</strong>
    <%= @news_entry.title %>
  </p>
  <p>
    <strong>本文:</strong>
    <%= @news_entry.body %>
  </p>
  <p>
    <strong>ニュースに指定する:</strong>
    <%= @news_entry.flag %>
  </p>
  <%= link_to '修正', edit_admin_news_entry_path(@news_entry) %> |
  <%= link_to '戻る', admin_news_entries_path %>
</div>
