<%= form_with(model: original_book) do |form| %>
  <% if original_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(original_book.errors.count, "error") %> prohibited this original_book from being saved:</h2>
      <ul>
        <% original_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :book_id %>
    <%= form.number_field :book_id %>
  </div>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>
  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_area :publisher %>
  </div>
  <div class="field">
    <%= form.label :first_pubdate %>
    <%= form.text_area :first_pubdate %>
  </div>
  <div class="field">
    <%= form.label :input_edition %>
    <%= form.text_area :input_edition %>
  </div>
  <div class="field">
    <%= form.label :proof_edition %>
    <%= form.text_area :proof_edition %>
  </div>
  <div class="field">
    <%= form.label :booktype_name %>
    <%= form.text_area :booktype_name %>
  </div>
  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
