<%= form_with(model: worker_role) do |form| %>
  <% if worker_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worker_role.errors.count, "error") %> prohibited this worker_role from being saved:</h2>

      <ul>
        <% worker_role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
