<%= snm_headline h: 'h1' do %>人物一覧<% end %>
<div class="mt-10 mb-5">
  <div class="my-2 flex gap-2">
    <% if @show_all %>
      <%= snm_link '50件ずつ表示', href: admin_people_person_index_searches_path(person: params[:person]), button_style: "secondary" %>
    <% else %>
      <%= snm_link '全て表示', href: admin_people_person_index_searches_path(person: params[:person], all: 1) %>
    <% end %>
  </div>

  <%= render(Admin::PeopleTableComponent.new(pagy: @pagy, people: @people)) %>

  <% unless @show_all %>
    <%== pagy_snm_nav(@pagy) %>
  <% end %>
</div>
