<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/images/top_logo.png">
    <title><%= Rails.configuration.x.site_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_stylesheet_tag 'application', data: { 'turbo-track': 'reload' } %>
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>
    <style>
      /*      a { text-decoration: underline blue; color: blue; }
            a:hover { text-decoration: none; background-color: transparent; color: inherit; } */
    </style>
  </head>
  <body class="bg-ab_bg_gray">
    <%= render(Admin::SnmHeaderComponent.new(title: "管理", user: current_admin_user)) do |component| %>
      <% component.with_logo do %>
        <%= render(Admin::SnmLogoComponent.new(label: "#{Rails.configuration.x.site_name} DB管理", href: admin_path, src: "/images/top_logo.png")) %>
      <% end %>
    <% end %>

    <div class="mt-24 max-w-[80rem] m-auto flex gap-5">
      <div class="w-[60%] sm:w-72 xl:w-80 ml-4">
        <%= render(Admin::SnmSidebarComponent.new) %>
      </div>
      <div class="w-full flex flex-col">

        <%= render Admin::FlashComponent.new(flash:) %>

        <div class="h-full bg-white p-5">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
