<%= form_with(model: [:admin, workfile.work, workfile]) do |form| %>
  <% errors = workfile.errors %>
  <%= form.hidden_field :work_id %>

  <%= render(Admin::SnmCollectionSelectComponent.new(form:,
                                                     name: :filetype_id,
                                                     collection: Filetype.order(:id).all,
                                                     value_method: :id,
                                                     text_method: :name,
                                                     errors:)) %>
  <%= render(Admin::SnmCollectionSelectComponent.new(form:,
                                                     name: :compresstype_id,
                                                     collection: Compresstype.order(:id).all,
                                                     value_method: :id,
                                                     text_method: :name,
                                                     errors:)) %>
  <%= render(Admin::SnmDateFieldComponent.new(form:, name: :registered_on, errors:)) %>
  <%= render(Admin::SnmDateFieldComponent.new(form:, name: :last_updated_on, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :filesize, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :revision_count, errors:)) %>
  <%= render(Admin::SnmCollectionSelectComponent.new(form:,
                                                     name: :file_encoding_id,
                                                     collection: FileEncoding.order(:id).all,
                                                     value_method: :id,
                                                     text_method: :name,
                                                     errors:)) %>
  <%= render(Admin::SnmCollectionSelectComponent.new(form:,
                                                     name: :charset_id,
                                                     collection: Charset.order(:id).all,
                                                     value_method: :id,
                                                     text_method: :name,
                                                     errors:)) %>
  <%= form.fields_for :workfile_secret do |secret_form| %>
    <%= render(Admin::SnmTextAreaComponent.new(form: secret_form, name: :memo, errors:, error_key: :'workfile_secret.memo')) %>
  <% end %>
  <div class="mb-2">
    <%= form.label :workdata, class: "inline-block text-sm" %>
    <% if @workfile.workdata.attached? %>
    <p><%= link_to @workfile.filename, rails_blob_url(@workfile.workdata) %></p>
    <% else %>
    <p><%= @workfile.filename %></p>
    <% end %>
    <%= form.file_field :workdata, class: "text-gray-600 w-full border border-ab_form focus:outline-none focus:border-ab_focus focus:ring-1 focus:ring-ab_focus focus:shadow-[0px_1px_13px_0px_#bee3f8] invalid:border-pink-500 invalid:text-pink-600 rounded outline-none transition duration-100 px-2 py-2" %>
  </div>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :url, errors:)) %>
  <div class="mt-2 flex">
    <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "登録する")) %>
  </div>
<% end %>
