<div class="w-full">
  <%= snm_headline h: 'h1' do %>作品ファイル一覧<% end %>

  <div class="mt-5">
    <table class="table-auto w-full">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-4 py-2 text-left">作品ID</th>
          <th class="px-4 py-2 text-left">作品名</th>
          <th class="px-4 py-2 text-left">著者名</th>
          <th class="px-4 py-2 text-left">ファイル名</th>
          <th class="px-4 py-2 text-left">ファイルタイプ</th>
          <th class="px-4 py-2 text-left">圧縮形式</th>
          <th class="px-4 py-2 text-left">公開日</th>
          <th class="px-4 py-2 text-left">更新日時</th>
          <th class="px-4 py-2"></th>
        </tr>
      </thead>
      <tbody>
        <% @workfiles.each do |workfile| %>
          <tr class="border-b hover:bg-gray-50">
            <td class="px-4 py-2"><%= link_to workfile.work.id, admin_work_path(workfile.work), class: "text-blue-600 hover:underline" %></td>
            <td class="px-4 py-2"><%= link_to workfile.work.title, admin_work_path(workfile.work), class: "text-blue-600 hover:underline" %></td>
            <td class="px-4 py-2">
              <% if workfile.work.people.any? %>
                <%= workfile.work.people.map { |person| link_to person.name, admin_person_path(person), class: "text-blue-600 hover:underline" }.join(", ").html_safe %>
              <% else %>
                <span class="text-gray-500">著者不明</span>
              <% end %>
            </td>
            <td class="px-4 py-2">
              <%= link_to workfile.filename || "ファイル名なし", admin_workfile_path(workfile), class: "text-blue-600 hover:underline" %>
            </td>
            <td class="px-4 py-2"><%= workfile.filetype&.name %></td>
            <td class="px-4 py-2"><%= workfile.compresstype&.name %></td>
            <td class="px-4 py-2"><%= workfile.work.started_on&.strftime("%Y-%m-%d") %></td>
            <td class="px-4 py-2"><%= workfile.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td class="px-4 py-2">
              <%= link_to "詳細", admin_workfile_path(workfile), class: "btn btn-sm btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if @workfiles.empty? %>
      <div class="text-center py-8 text-gray-500">
        作品ファイルがありません
      </div>
    <% end %>

    <div class="py-4">
      <%== pagy_snm_nav(@pagy) %>
    </div>
  </div>
</div>