<%= form_with(model: admin_mail_secret, url: admin_admin_mail_secrets_path, data: { turbo: false }) do |form| %>
  <%= form.hidden_field :worker_id %>
  <%= form.hidden_field :subject %>
  <%= form.hidden_field :body %>
  <%= form.hidden_field :cc_flag %>

  <%= snm_headline h: 'h3' do %>工作員ID<% end %>
  <div class="bg-ab_bg_gray p-4">
    <p>
      <%= admin_mail_secret.worker_id %>
    </p>
    <% if admin_mail_secret.email %>
    <p>email: <%= admin_mail_secret.email %></p>
    <% end %>
  </div>

  <%= snm_headline h: 'h3' do %>件名<% end %>
  <div class="bg-ab_bg_gray p-4">
    <p>
      <%= admin_mail_secret.subject %>
    </p>
  </div>

  <%= snm_headline h: 'h3' do %>本文<% end %>
  <div class="bg-ab_bg_gray p-4">
    <pre><%= admin_mail_secret.body %></pre>
  </div>

  <%= snm_headline h: 'h3' do %>青空文庫にCCする<% end %>
  <div class="bg-ab_bg_gray p-4">
    <p>
      <%= admin_mail_secret.cc_reception? ? "する" : "しない" %>
    </p>
  </div>

  <div class="mt-4 flex">
    <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "送信する")) %>
    <div>
      <%= form.submit '戻る', name: 'edit', formaction: admin_admin_mail_secrets_path, class: secondary_button_class %>
    </div>
  </div>
<% end %>
