<p id="notice"><%= notice %></p>

<p>
  <strong>Published on:</strong>
  <%= @news.published_on %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @news.body %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @news.flag %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
