<div class="w-full">
  <snm-headline h="h1">人物検索結果一覧</snm-headline>

  <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
    <thead class="text-center bg-[#f8fafc]">
      <tr class="h-10 even:bg-[#f8fafc]">
        <th class="whitespace-nowrap">人物ID</th>
        <th class="whitespace-nowrap">姓名</th>
        <th class="whitespace-nowrap">読み</th>
        <th class="whitespace-nowrap">著作権</th>
        <th class="whitespace-nowrap">他の名前</th>
        <th class="whitespace-nowrap">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |base_person| %>
      <tr class="h-10 even:bg-[#f8fafc]">
        <td class="text-center py-3 px-5">
          <%= base_person.id %>
        </td>
        <td class="text-center py-3 px-5">
          <%= link_to admin_person_path(base_person) do %>
          <%= base_person.name %>
          <% end %>
        </td>
        <td class="text-center py-3 px-5">
          <%= base_person.name_kana %>
        </td>
        <td class="text-center py-3 px-5">
          <%= base_person.copyright_text %>
        </td>
        <td class="text-center py-3 px-5">
          <% base_person.other_people.each do |other_person| %>
          →<%= link_to other_person.name, admin_person_path(other_person) %>
          <% end %>
        </td>
        <td class="text-center py-3 px-5">
          <%= form_with(model: [:admin, @person, @person.build_base_person], method: 'post', data: { turbo: false }) do |form| %>
          <%= form.hidden_field :original_person_id, value: base_person.id %>
          <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "関連づける")) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="py-2">
    <%== pagy_snm_nav(@pagy) %>
  </div>
  <div class="mt-5 flex">
    <%= snm_link '戻る', href: new_admin_person_base_person_path, button_style: "secondary" %>
  </div>
</div>
