<%= form_with(model: person_site) do |form| %>
  <% if person_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person_site.errors.count, "error") %> prohibited this person_site from being saved:</h2>

      <ul>
        <% person_site.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.number_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.text_field :site_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
