<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @person_site.person_id %>
</p>

<p>
  <strong>Site:</strong>
  <%= @person_site.site_id %>
</p>

<%= link_to 'Edit', edit_person_site_path(@person_site) %> |
<%= link_to 'Back', person_sites_path %>
