<!-- ASIDE -->
<div class="w-1/4 md:w-2/6 font-light mb-5">
  <!-- First Aside Menu -->
  <div class="bg-white rounded">
    <div class="border-b border-gray-200">
      <div class="text-black font-light uppercase text-sm py-5 px-5">検索</div>
    </div>
    <div>
      <%= link_to admin_works_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-paper mr-2 text-gray-600 inline-block"></i>作品検索
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to admin_people_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-person mr-2 text-gray-600 inline-block"></i>人物検索
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to admin_workers_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-bicycle mr-2 text-gray-600 inline-block"></i>工作員検索
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to admin_sites_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-browsers mr-2 text-gray-600 inline-block"></i>関連サイト検索
        </div>
      <% end %>
    </div>
  </div>
  <!-- Second Aside Menu -->
  <div class="mt-5 bg-white rounded">
    <div class="border-b border-gray-200">
      <div class="text-black font-light uppercase text-sm py-5 px-5">登録</div>
    </div>
    <div>
      <%= link_to new_admin_work_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-paper mr-2 text-gray-600 inline-block"></i>作品新規登録
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to new_admin_person_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-person mr-2 text-gray-600 inline-block"></i>人物新規登録
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to new_admin_worker_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-bicycle mr-2 text-gray-600 inline-block"></i>工作員新規登録
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to new_admin_site_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-browsers mr-2 text-gray-600 inline-block"></i>関連サイト新規登録
        </div>
      <% end %>
    </div>
  </div>
  <!-- Third Aside Menu -->
  <div class="mt-5 bg-white rounded">
    <div class="border-b border-gray-200">
      <div class="text-black font-light uppercase text-sm py-5 px-5">
        その他
      </div>
    </div>
    <div>
      <%= link_to admin_receipts_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-apps mr-2 text-gray-600 inline-block"></i> WEB入力受付処理
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to admin_proofreads_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-lock mr-2 text-gray-600 inline-block"></i> WEB校正受付処理
        </div>
      <% end %>
      </a>
    </div>
    <div>
      <%= link_to new_admin_admin_mail_secret_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-compass mr-2 text-gray-600 inline-block"></i> 工作員メール送信
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to admin_news_entries_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-card mr-2 text-gray-600 inline-block"></i> そらもよう
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to admin_exec_commands_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-wallet mr-2 text-gray-600 inline-block"></i> コマンド実行機能
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to admin_users_others_path, class: "block py-3 px-5 hover:bg-gray-100" do %>
        <div class="text-gray-700">
          <i class="icon ion-ios-wallet mr-2 text-gray-600 inline-block"></i> 管理者の追加・削除
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- END ASIDE -->
