  <%= form_with(url: form_url, method: 'get', data: { turbo: false }) do |form| %>
  <table>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓読み", name: "last_name_kana")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓", name: "last_name")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "名読み", name: "first_name_kana")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "名", name: "first_name")) %>
  </table>
  <div class="py-2">
    <input type="submit" name="text" value="検索" class="btn-admin-normal">
  </div>
  <% end %>
