<%= form_with(model: [:admin, @person]) do |form| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "件") %>の入力エラーがあります:</h2>
      <ul>
        <% @person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :last_name_kana, "姓読み" %>
    <%= form.text_field :last_name_kana %>
  </div>
  <div class="field">
    <%= form.label :sortkey, "姓読みソート用" %>
    <%= form.text_field :sortkey %>
  </div>
  <div class="field">
    <%= form.label :last_name, "姓" %>
    <%= form.text_field :last_name %>
  </div>
  <div class="field">
    <%= form.label :last_name_en, "姓ローマ字" %>
    <%= form.text_field :last_name_en %>
  </div>
  <div class="field">
    <%= form.label :first_name_kana, "名読み" %>
    <%= form.text_field :first_name_kana %>
  </div>
  <div class="field">
    <%= form.label :sortkey2, "名読みソート用" %>
    <%= form.text_field :sortkey2 %>
  </div>
  <div class="field">
    <%= form.label :first_name, "名" %>
    <%= form.text_field :first_name %>
  </div>
  <div class="field">
    <%= form.label :first_name_en, "名ローマ字" %>
    <%= form.text_field :first_name_en %>
  </div>
  <div class="field">
    <%= form.label :born_on, "生年月日" %>
    <%= form.text_field :born_year, maxlength: 4 %>年
    <%= form.date_select :born_on, include_blank: true, order: [:month, :day], date_separator: "月", month_format_string: "%<number>d" %>日
  </div>
  <div class="field">
    <%= form.label :died_on, "没年月日" %>
    <%= form.text_field :died_year, maxlength: 4 %>年
    <%= form.date_select :died_on, include_blank: true, order: [:month, :day], date_separator: "月", month_format_string: "%<number>d" %>日
  </div>
  <div class="field">
    <%= form.label :copyright_flag,"著作権フラグ" %>
    <%= form.select :copyright_flag, [["なし", 0], ["あり", 1]], {include_blank: false}, {class: 'text-gray-800'} %>
  </div>
  <div class="field">
    <%= form.label :email, "email" %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :url, "URL" %>
    <%= form.text_field :url %>
  </div>
  <div class="field">
    <%= form.label :description, "人物について" %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :note, "備考" %>
    <%= form.text_area :note %>
  </div>
  <div class="actions py-4">
    <%= form.submit "登録", class: 'btn-normal' %>
  </div>
<% end %>
