<%= form_with(model: [:admin, @person], data: { turbo: false }) do |form| %>
  <% errors = @person.errors %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :last_name_kana, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :sortkey, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :last_name, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :last_name_en, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :first_name_kana, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :sortkey2, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :first_name, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :first_name_en, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :born_on, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :died_on, errors:)) %>
  <%= render(Admin::SnmSelectComponent.new(form:,
                                           name: :copyright_flag,
                                           choices: [["なし", 0], ["あり", 1]],
                                           options: { include_blank: false },
                                           errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :email, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :url, errors:)) %>
  <%= render(Admin::SnmTextAreaComponent.new(form:, name: :description, errors:)) %>
  <%= render(Admin::SnmTextAreaComponent.new(form:, name: :note, errors:)) %>
  <div class="mt-2 flex">
    <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "登録する")) %>
  </div>
<% end %>
