<div class="mb-2">
  <% if label.present? %>
  <%= form.label name, label, class: "inline-block text-sm" %>
  <% end %>
  <% case field_type %>
  <% when :email %>
  <%= form.email_field name, class: input_class %>
  <% when :url %>
  <%= form.url_field name, class: input_class %>
  <% else %>
  <%= form.text_field name, class: input_class %>
  <% end %>
  <% if errors[error_key].any? %>
  <%= tag.div errors.full_messages_for(error_key).join(', '), class: "text-sm text-red-500 required:block" %>
  <% end %>
</div>
