<% if label.present? %>
 <%= link_to href, target:, class: style_class do %>
  <%= icon_svg %>
  <span><%= label %></span>
 <% end %>
<% else %>
 <%= link_to href, target:, class: style_class do %>
  <%= icon_svg %>
  <span><%= content %></span>
 <% end %>
<% end %>
