  <div class="mb-2 w-full">
    <%= @form.label @name, @label.to_s, class: "inline-block text-sm #{@label.blank? ? 'hidden' : ''}" %>
    <%= text_field_tag @name, @value, autocomplete: :on, class: input_form_class %>
    <div class="text-xs text-red-500 <%= @error.present? ? '' : 'hidden' %> required:block"><%= @error %></div>
  </div>
  <div class="mb-2">
    <label class="inline-block text-sm mb-1 ${this.label hidden"></label>
    <%= @form.select "text_selector_#{@name}", TextSearcher::TEXT_SELECTOR, { include_blank: false }, class: select_form_class %>
    <div class="text-xs text-red-500 hidden required:block"></div>
  </div>
