  <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
    <thead class="text-center bg-[#f8fafc]">
      <tr class="h-10 even:bg-[#f8fafc]">
        <th class="whitespace-nowrap">作品ID</th>
        <th class="whitespace-nowrap">作品名</th>
        <th class="whitespace-nowrap">副題</th>
        <th class="whitespace-nowrap">著者</th>
        <th class="whitespace-nowrap">翻訳者</th>
        <th class="whitespace-nowrap">仮名遣い</th>
        <th class="whitespace-nowrap">状態</th>
        <th class="whitespace-nowrap">状態の開始日</th>
      </tr>
    </thead>
    <tbody>
      <% @works.each do |work| %>
        <tr class="h-10 even:bg-[#f8fafc]">
          <td class="text-center whitespace-nowrap py-3 px-5"><%= work.id %></td>
          <td class="text-center whitespace-nowrap py-3 px-5"><%= link_to work.title, admin_work_path(work) %></td>
          <td class="text-center whitespace-nowrap py-3 px-5"><%= work.subtitle %></td>
          <td class="text-center whitespace-nowrap py-3 px-5"><%= work.author_text %></td>
          <td class="text-center whitespace-nowrap py-3 px-5"><%= work.translator_text %></td>
          <td class="text-center whitespace-nowrap py-3 px-5"><%= work.kana_type.name %></td>
          <td class="text-center whitespace-nowrap py-3 px-5"><snm-status statusType="<%= work.work_status.color %>" label="<%= work.work_status.name %>"></td>
          <td class="text-center whitespace-nowrap py-3 px-5"><%= work.started_on %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_nav(@pagy) %>
