<%= render LayoutComponent.new(title: '青空文庫', bgcolor: 'bg-white-100') do -%>
<div id="app" class="container mx-auto max-w-6xl py-2">
  <div id="top" class="flex">
    <img src="/images/top_logo.png" class="p-1 bg-[#000063]">
    <div class="flex flex-col w-full">
      <div class="flex justify-end h-10 py-2 bg-[#000063] text-white border-y border-y-gray-500 w-full">
        <div class="px-2"><a href="#main" class="hover:text-gray-900 hover:bg-gray-100 underline">メイン</a></div>
        <div class="px-2"><a href="#information" class="hover:text-gray-900 hover:bg-gray-100 underline">お知らせ</a></div>
        <div class="px-2"><a href="#sub" class="hover:text-gray-900 hover:bg-gray-100 underline">別館</a></div>
        <div class="px-2"><a href="#documents" class="hover:text-gray-900 hover:bg-gray-100 underline">資料</a></div>
        <div class="px-2"><a href="#manage" class="hover:text-gray-900 hover:bg-gray-100 underline">運営</a></div>
      </div>
      <div class="flex w-full">
        <div>
          <a href="shiryo_pdlocked.html" class="hover:underline">
            <img src="https://www.aozora.gr.jp/banner/pd-locked-mini.png" width="230" height="50" alt="著作権保護期間延長" class="mx-16">
          </a>
        </div>
        <div class="w-full">
          <script type="text/javascript"><!--
            function se(nm){
              const uu = new Array(
                "", /* 0 */
                "http://www.google.co.jp/search?hl=ja&num=20&q=", /* 1 */
                "http://www.bing.com/search?q=", /* 2 */
                "http://search.naver.jp/search?&q=", /* 3 */
                "http://www.baidu.jp/s?rn=20&wd=", /* 4 */
                "http://search.goo.ne.jp/web.jsp?IE=UTF-8&MT=", /* 5 */
                "http://search.yahoo.co.jp/search?p=" /* 6 */
              )
              const dkey=document.forms[0].as_q.value;
              if(dkey!=""){const url=uu[nm]+"site:www.aozora.gr.jp+"+encodeURIComponent(dkey);window.open(url,'_blank');}
            }
            //-->
          </script>
          <form method="get" action="https://www.google.com/search" name="f" target="_blank" class="text-right">
            www.aozora.gr.jp 内を検索
            <input type="hidden" name="hl" value="ja">
            <input type="hidden" name="lr" value="lang_ja">
            <input type="hidden" name="ie" value="utf-8">
            <input type="hidden" name="num" value="20">
            <input type="hidden" name="complete" value="0">
            <input type="hidden" name="as_dt" value="i">
            <input type="hidden" name="as_sitesearch" value="www.aozora.gr.jp">
            <input type="text" name="as_q" value="" autocomplete="on" size="25" class="rounded text-sm h-6 mt-1">
            <br>
            <input type="submit" value="Google" class="my-1 rounded bg-gray-200 hover:bg-gray-300 border border-slate-500 text-sm w-16 h-6">
            <!--<input type="button" onclick="se(1)" value="Google">-->
            <input type="button" onclick="se(2)" value="bing" class="my-1 rounded bg-gray-200 hover:bg-gray-300 border border-slate-500 text-sm w-16 h-6">
            <!--<input type="button" onclick="se(3)" value="Naver">-->
            <!--<input type="button" onclick="se(4)" value="Baidu">-->
            <input type="button" onclick="se(5)" value="goo" class="my-1 rounded bg-gray-200 hover:bg-gray-300 border border-slate-500 text-sm w-16 h-6">
            <!--<input type="button" onclick="se(6)" value="Yahoo!">-->
          </form>
        </div>
      </div>
    </div>
  </div>

  <h1 class="flex justify-center h-10 my-3 py-3 text-2xl font-semibold text-gray-900 w-full">
    (作業中)インターネットの電子図書館、青空文庫へようこそ。
  </h1>

  <div class="flex justify-center h-10 mt-4 py-3 text-3xl font-semibold text-gray-900 w-full">
    「<a href="https://www.aozora.gr.jp/soramoyou/soramoyouindex.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
      青空文庫、新館引越中
      </a>」
  </div>

  <div class="text-center pt-4 mt-4">
    <p class="py-2">
      初めての方はまず「<a href="https://www.aozora.gr.jp/guide/aozora_bunko_hayawakari.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">青空文庫早わかり</a>」をご覧ください。
    </p>
    <p class="py-2 my-2">
      ファイル利用をお考えの方は、<a href="https://www.aozora.gr.jp/guide/kijyunn.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">こちら</a>をご一読ください。
    </p>
    <p class="py-2 my-2">
      「<a href="https://www.aozora.gr.jp/guide/roudoku.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">青空文庫収録ファイルを用いた朗読配信をお考えのみなさまへ</a>」
    </p>
  </div>

  <h2 class="flex justify-center my-4 py-1 px-5 text-lg font-semibold bg-gray-300 border border-y-gray-500"><a name="public_list">メインエリア</a></h2>

  <table class="border-double border-2 border-gray-800 table-fixed items-center w-full" summary="">
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="/guide/aozora_bunko_hayawakari.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          青空文庫早わかり
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫の使い方と約束事を紹介しています。初めての方、ファイルやキャプチャーの取り扱いについて知りたい方も、こちらへどうぞ。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 text-left align-top font-normal p-1">
        <a href="/index_pages/index_top.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          総合インデックス
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        作家名、作品名の50音別に、公開作品と入力・校正作業中の作品を一覧できるインデックスです。公開中の作品を探すときは、下の近道もご利用ください。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 text-right align-top font-normal p-1">
        公開中　作家別：
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        <a href="/index_pages/person_a.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">あ行</a>
        <a href="/index_pages/person_ka.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">か行</a>
        <a href="/index_pages/person_sa.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">さ行</a>
        <a href="/index_pages/person_ta.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">た行</a>
        <a href="/index_pages/person_na.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">な行</a>
        <a href="/index_pages/person_ha.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">は行</a>
        <br>
        <a href="/index_pages/person_ma.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ま行</a>
        <a href="/index_pages/person_ya.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">や行</a>
        <a href="/index_pages/person_ra.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ら行</a>
        <a href="/index_pages/person_wa.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">わ行</a>
        <a href="/index_pages/person_zz.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">他</a>
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-right align-top font-normal p-1">
        公開中　作品別：
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">

        <table summary="作品リスト" class="w-full">
          <tr>
            <td class="text-center"><a href="index_pages/sakuhin_a1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">あ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ka1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">か</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_sa1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">さ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ta1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">た</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_na1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">な</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ha1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">は</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ma1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ま</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ya1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">や</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ra1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ら</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_wa1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">わ</a></td>
          </tr>
          <tr>
            <td class="text-center"><a href="index_pages/sakuhin_i1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">い</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ki1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">き</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_si1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">し</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ti1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ち</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ni1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">に</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_hi1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ひ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_mi1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">み</a></td>
            <td>&nbsp;</td>
            <td class="text-center"><a href="index_pages/sakuhin_ri1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">り</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_wo1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">を</a></td>
          </tr>
          <tr>
            <td class="text-center"><a href="index_pages/sakuhin_u1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">う</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ku1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">く</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_su1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">す</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_tu1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">つ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_nu1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ぬ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_hu1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ふ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_mu1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">む</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_yu1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ゆ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ru1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">る</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_nn1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ん</a></td>
          </tr>
          <tr>
            <td class="text-center"><a href="index_pages/sakuhin_e1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">え</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ke1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">け</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_se1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">せ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_te1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">て</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ne1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ね</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_he1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">へ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_me1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">め</a></td>
            <td>&nbsp;</td>
            <td class="text-center"><a href="index_pages/sakuhin_re1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">れ</a></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="text-center"><a href="index_pages/sakuhin_o1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">お</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ko1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">こ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_so1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">そ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_to1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">と</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_no1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">の</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ho1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ほ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_mo1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">も</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_yo1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">よ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ro1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ろ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_zz1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">他</a></td>
          </tr>
        </table>

      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 text-right align-top font-normal p-1">
        作業中：
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        <a href="/index_pages/index_top.html#work_list" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          作家別・作品別
        </a>
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://yozora.main.jp/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">
          青空文庫　分野別リスト
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        分野別に公開作品を一覧できる、インデックスです。
      </td>
    </tr>
  </table>

  <hr class="border-gray-400 my-2">

  <p class="text-right my-3">
    <a href="#top" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">
      ▲
    </a>
  </p>

  <div class="flex justify-center">
    <a href="https://www.aozora.gr.jp/aozorablog/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
      <img src="https://www.aozora.gr.jp/banner/aozorablog.png">
    </a>
  </div>

  <hr class="border-gray-400 my-2">

  <h2 class="flex justify-center mt-4 py-1 px-5 text-lg font-semibold bg-gray-300 border border-y-gray-500"><a name="information">お知らせ</a></h2>

  <table class="border-double border-2 border-gray-800 table-fixed items-center w-full" summary="">
    <colgroup>
      <col class="w-[30%]">
      <col class="w-[70%]">
    </colgroup>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 text-left align-top font-normal p-1">
        <a href="/index_pages/whatsnew1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          新着情報
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        新規公開作品の一覧表です。随時更新。
      </td>
    </tr>

    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 text-right align-top font-normal p-1">
        最新公開作品：
        <br>
        <%= new_works_published_on %>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        <ol>
          <% new_works.each do |work| %>
          <li>
            <%= work.author_text %><br>
            <%= link_to work.title,
                        card_path(person_id: work.card_person_id, card_id: work.id, format: :html),
                        class: "text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline" %>
            <%= work.subtitle %>
          </li>
          <% end %>
        </ol>
      </td>
    </tr>

    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 text-left align-top font-normal p-1">
        <a href="/soramoyou/soramoyouindex.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          そらもよう
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫からのお知らせを掲載します。
        <br>
        最終更新日：<%= latest_news_entry.published_on %>
      </td>
    </tr>
  </table>

  <hr class="border-gray-400 my-2">

  <div class="flex justify-center">
    <a href="https://honnomirai.net/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
      <img src="https://www.aozora.gr.jp/banner/honnomirai.png">
    </a>
  </div>

  <hr class="border-gray-400 my-2">

  <h2 class="flex justify-center mt-4 py-1 px-5 text-lg font-semibold bg-gray-300 border border-y-gray-500"><a name="sub">青空文庫・別館</a></h2>

  <table class="border-double border-2 border-gray-800 table-fixed items-center w-full" summary="">
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/aozorablog/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          aozorablog
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        有志によるブログ。３代目です。まずはのぞいてみてください。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="http://honnomirai.net/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          本の未来基金
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫へ寄付をお考えの方は、こちらから。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="http://aozorahack.org/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
        aozorahack
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        エンジニアによる青空文庫の支援や活用を話し合い、関連情報を蓄積する場です。
      </td>
    </tr>
  </table>

  <hr class="border-gray-400 my-2">

  <div class="flex justify-center">
    <a href="https://aozorahack.org/">
      <img src="https://www.aozora.gr.jp/banner/aozorahack.png">
    </a>
  </div>

  <hr class="border-gray-400 my-2">

  <h2 class="flex justify-center mt-4 py-1 px-5 text-lg font-semibold bg-gray-300 border border-y-gray-500"><a name="documents">資料室</a></h2>

  <table class="border-double border-2 border-gray-800 table-fixed items-center w-full" summary="">
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/aozora-manual/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          青空文庫作業マニュアル
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        入力・校正作業の手引きと、著作権に対する方針が記されています。作業前に必ずお目通しを。
      </td>
    </tr>

    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/annotation/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          注記一覧
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        テキスト版の注記の書き方をまとめています。作業時の友に。
      </td>
    </tr>

    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/guide/techo.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          耕作員手帳
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        作業時に役立つマニュアルやツール類をまとめたリンク集です。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/guide/aozora_bunko_faq.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          青空文庫ＦＡＱ
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫についてよくある質問集です。困ったことがあればまずご参照を。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/index_pages/index_all.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          登録全作家インデックス
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        登録されているすべての作家について、作品の登録状況、進行状況を確認できます。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/siryo1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          著作権が消滅した作家
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫への登録が可能な作家のリストです。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/access_ranking/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          アクセスランキング
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        XHTML版、テキスト版の、月間500位を示します。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/readingTEXT/index.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          青空文庫のXHTML, TEXTの読み方
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫のファイルを読む方法をご紹介しています。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/guide/kijyunn.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          収録ファイルの取り扱い規準
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        ファイル利用をお考えの方は、まずこちらをご一読ください。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/guide/shuuroku.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          作品収録を望まれる方へ
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫への作品収録の方針・手順を示しています。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/guide/roudoku.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          朗読配信をお考えの皆様へ
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫を朗読配信する際の注意点がまとめられています。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        歩みの記録
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        これまでに公開したそらもようから、一里塚となるような、重要な話題をピックアップしました。
        <ul class="m-2">
          <%- topics.first(10).each do |news_entry| -%>
          <li class="my-1"><%= news_entry.published_on %> <%= link_to news_entry.title,
                                                                      soramoyou_year_path(news_entry.published_on.year, anchor: news_entry.id),
                                                                      class: "text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline" %></li>
          <%- end -%>
        </ul>
      </td>
    </tr>
  </table>

  <p class="text-right my-3">
    <a href="#top" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">
      ▲
    </a>
  </p>

  <h2 class="flex justify-center mt-4 py-1 px-5 text-lg font-semibold bg-gray-300 border border-y-gray-500"><a name="manage">運営について</a></h2>

  <table class="border-double border-2 border-gray-800 table-fixed items-center w-full" summary="">
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="/cards/001790/card56572.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          青空文庫の提案
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫が、どのようなコンセプトでスタートしたかをご紹介しています。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/aozora_bunkono_shikumi.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          青空文庫のしくみ
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫が、どのようなしくみで運営されているかをご紹介しています。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/kaikei/index.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          会計報告
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫の台所事情です。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/houkokusyo/kadai.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          直面した課題
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        過去に直面した問題点と対応をまとめています。
      </td>
    </tr>
  </table>

  <p class="text-right my-3">
    <a href="#top" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">
      ▲
    </a>
  </p>

  <hr class="border-gray-400 my-2">

  <p class="text-center">
    収録作品数：<%= works_count %>（著作権なし：<%= works_noncopyright_count %>、著作権あり：<%= works_copyright_count %>）
  </p>

  <hr class="border-gray-400 my-2">

  <footer class="pt-3 pb-14">
    <div>
      <span class="pr-3">
        ●
        <a class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline" href="/index.html">トップ</a>
      </span>
    </div>
  </footer>
</div>
<!-- generated at: <%= Time.zone.now %> -->
<%- end -%>
