<p id="notice"><%= notice %></p>

<h1>Compresstypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Extension</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compresstypes.each do |compresstype| %>
      <tr>
        <td><%= compresstype.name %></td>
        <td><%= compresstype.extension %></td>
        <td><%= link_to 'Show', compresstype %></td>
        <td><%= link_to 'Edit', edit_compresstype_path(compresstype) %></td>
        <td><%= link_to 'Destroy', compresstype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compresstype', new_compresstype_path %>
