<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @compresstype.name %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @compresstype.extension %>
</p>

<%= link_to 'Edit', edit_compresstype_path(@compresstype) %> |
<%= link_to 'Back', compresstypes_path %>
