<%= form_with(model: [:admin, work]) do |form| %>
  <% errors = work.errors %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :title_kana, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :sortkey, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :title, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :subtitle_kana, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :subtitle, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :collection_kana, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :collection, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :original_title, errors:)) %>
  <%= render(Admin::SnmCollectionSelectComponent.new(form:,
                                                     name: :kana_type_id,
                                                     collection: KanaType.order(:id).all,
                                                     value_method: :id,
                                                     text_method: :name,
                                                     errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :first_appearance, errors:)) %>
  <%= render(Admin::SnmTextAreaComponent.new(form:, name: :description, errors:)) %>
  <%= render(Admin::SnmTextAreaComponent.new(form:, name: :note, errors:)) %>
  <%= render(Admin::SnmTextAreaComponent.new(form:, name: :orig_text, errors:)) %>
  <%= render(Admin::SnmCollectionSelectComponent.new(form:,
                                                     name: :work_status_id,
                                                     collection: WorkStatus.order(:sort_order).all,
                                                     value_method: :id,
                                                     text_method: :name,
                                                     errors:)) %>
  <div class="field py-2">
    <%= form.label :started_on, "状態の開始日" %>
    <%= form.date_select :started_on, { start_year: 1997, end_year: Time.zone.now.year + 1, date_separator: '-', use_month_numbers: true }, { class: "min-w-[100px] bg-dropdownIcon bg-no-repeat bg-[right_0.8rem_center] rounded px-2 py-2 border border-ab_form focus:outline-none focus:border-ab_focus focus:ring-1 focus:ring-ab_focus focus:shadow-[0px_1px_13px_0px_#bee3f8] cursor-pointer appearance-none" } %>
  </div>
  <%= render(Admin::SnmSelectComponent.new(form:,
                                           name: :copyright_flag,
                                           choices: [["なし", 0], ["あり", 1]],
                                           options: { include_blank: false },
                                           errors:)) %>
  <div class="mt-2 flex">
    <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "登録する")) %>
  </div>
<% end %>
