<snm-headline h="h1">作品検索</snm-headline>
<!--作品テキスト start-->
<div class="mt-4">
  <snm-headline h="h2">作品テキスト検索</snm-headline>
  <%= form_with(url: admin_works_text_searches_path, method: 'get') do |form| %>
  <div class="flex flex-col lg:flex-row gap-0 lg:gap-10">
    <div class="">
      <div class="flex gap-1 items-end">
        <%= render(Admin::TextSearchInputComponent.new(form:, label: "作品名読み", name: "title_kana", error: nil)) %>
      </div>
      <div class="flex gap-1 items-end">
        <%= render(Admin::TextSearchInputComponent.new(form:, label: "作品名", name: "title", error: nil)) %>
      </div>
      <div class="flex gap-1 items-end">
        <%= render(Admin::TextSearchInputComponent.new(form:, label: "副題読み", name: "subtitle_kana", error: nil)) %>
      </div>
      <div class="flex gap-1 items-end">
        <%= render(Admin::TextSearchInputComponent.new(form:, label: "副題", name: "subtitle", error: nil)) %>
      </div>
    </div>

    <div>
      <div class="flex gap-1 items-end">
        <%= render(Admin::TextSearchInputComponent.new(form:, label: "作品集名読み", name: "collection_kana", error: nil)) %>
      </div>
      <div class="flex gap-1 items-end">
        <%= render(Admin::TextSearchInputComponent.new(form:, label: "作品集名", name: "collection", error: nil)) %>
      </div>
      <div class="flex gap-1 items-end">
        <%= render(Admin::TextSearchInputComponent.new(form:, label: "原題", name: "original_title", error: nil)) %>
      </div>
      <div class="flex gap-1 items-end">
        <%= render(Admin::TextSearchInputComponent.new(form:, label: "作品について", name: "description", error: nil)) %>
      </div>
    </div>
  </div>

  <div class="flex">
    <%= render(Admin::SubmitComponent.new(form:, name: "text", value: "検索")) %>
  </div>
  <% end %>
</div>
<!--作品テキスト end-->

<!--50音順インデックス start-->
<div class="mt-10 flex flex-col lg:flex-row gap-10">
  <%= form_with(url: admin_works_work_index_searches_path, method: 'get') do |form| %>
  <div>
    <snm-headline h="h2">作品50音順インデックス</snm-headline>
    <%= render(Admin::SyllabaryTableComponent.new(key: "work")) %>
  </div>
  <% end %>

  <%= form_with(url: admin_works_creator_index_searches_path, method: 'get') do |form| %>
  <div>
    <snm-headline h="h2">著者別インデックス</snm-headline>
    <%= render(Admin::SyllabaryTableComponent.new(key: "creator")) %>
  </div>
  <% end %>
</div>
<!--50音順インデックス end-->

<!--作品状態検索 start-->
<div class="mt-10">
  <snm-headline h="h2">作品状態検索</snm-headline>

  <%= form_with(url: admin_works_status_searches_path, method: 'get', class: "flex gap-1 items-center") do |form| %>
  <%= render(Admin::WorkStatusComponent.new(form:, years: @years)) %>
  <% end %>
</div>
<!--作品状態検索 end-->

<!--著者不明作品検索 start-->
<div class="mt-10">
  <snm-headline h="h2">著者不明作品検索</snm-headline>
  <%= form_with(url: admin_works_unknown_creator_searches_path, method: 'get') do |form| %>
  <div class="flex">
    <%= render(Admin::SubmitComponent.new(form:, name: "text", value: "検索")) %>
  </div>
  <% end %>
</div>
<!--著者不明作品検索 end-->

<!--作品一覧 start-->
<div class="mt-10 mb-5">
  <snm-headline h="h2">作品一覧</snm-headline>
  <%= render(Admin::WorksTableComponent.new(works: @works, pagy: @pagy)) %>
</div>
<!--作品一覧 end-->
