<!--作品テキスト start-->
<div>
  <snm-headline h="h2">作品データ</snm-headline>

  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["作品ID", @work.id],
        ["作品名", @work.title],
        ["作品名読み", @work.title_kana],
        ["副題", @work.subtitle],
        ["副題読み", @work.subtitle_kana],
        ["作品集名", @work.collection],
        ["作品集名読み", @work.collection_kana],
        ["原題", @work.original_title],
        ["仮名遣い種別", @work.kana_type.name],
        ["初出", @work.first_appearance],
        ["作品について", @work.description],
        ["状態", @work.work_status.name],
        ["状態の開始日", @work.started_on],
        ["著作権フラグ", @work.copyright_flag],
        ["備考", @work.note],
        ["底本管理情報", @work.orig_text],
        ["最終更新日", @work.updated_at],
        ["更新者", @work.user_id],
        ["ソート読み", @work.sortkey]
      ])) %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "更新", href: edit_admin_work_path(@work) %>
    <%= button_to '削除', [:admin, @work], method: :delete, form: { data: { turbo_confirm: '本当に削除しますか?' } }, class: delete_button_class %>
  </div>
</div>
<!--作品テキスト end-->
<!--著者データ start-->
<div class="mt-6">
  <snm-headline h="h2">著者データ</snm-headline>

  <% @work.work_people.each do |work_person| %>
  <% person = work_person.person %>

  <snm-headline h="h3"><%= work_person.role.name %>データ</snm-headline>

  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["人物ID", person.id],
        ["読み", "#{person.last_name_kana} #{person.first_name_kana}"],
        ["著者名", person.name],
        ["ローマ字", person.name_en],
        ["生年月日", person.born_on],
        ["没年月日", person.died_on],
        ["著作権フラグ", person.copyright_flag],
        ["email", person.email],
        ["URL", person.url],
        ["人物について", person.description],
        ["備考", person.note]
      ])) %>

  <div class="py-2">
    <%= button_to '削除', [:admin, @work, work_person], method: :delete, form: { data: { turbo_confirm: '本当に削除しますか?' } }, class: delete_button_class %>
  </div>

  <% end %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "人物関連づけ", href: new_admin_work_work_person_path(@work) %>
  </div>
</div>

<!--著者データ end-->
<!--工作員データ start-->
<div class="mt-6">
  <snm-headline h="h2">工作員データ</snm-headline>

  <% @work.work_workers.order(%i[worker_role_id worker_id]).each do |work_worker| %>
  <% worker = work_worker.worker %>

  <snm-headline h="h3"><%= work_worker.worker_role.name %></snm-headline>

  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["工作員ID", worker.id],
        ["読み", worker.name_kana],
        ["#{work_worker.worker_role.name}名", worker.name],
        ["e-mail", worker.worker_secret&.email],
        ["URL", worker.worker_secret&.url],
        ["備考", worker.worker_secret&.note]
      ])) %>

  <div class="py-2">
    <%= button_to '削除', [:admin, @work, work_worker], method: :delete, form: { data: { turbo_confirm: '本当に削除しますか?' } }, class: delete_button_class %>
  </div>
  <% end %>
</div>

<div class="mt-2 flex gap-2">
  <%= tag.snm_link "工作員関連づけ", href: new_admin_work_work_worker_path(@work) %>
</div>

<!--工作員データ end-->
<!--底本データ start-->

<div class="mt-6">
  <snm-headline h="h2">底本データ</snm-headline>

  <% @work.original_books.order(%i[booktype_id id]).each do |original_book| %>

  <snm-headline h="h3"><%= original_book.booktype.name %></snm-headline>

  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["底本名", original_book.title],
        ["出版社名", original_book.publisher],
        ["初版発行日", original_book.first_pubdate],
        ["入力に使用した版", original_book.input_edition],
        ["校正に使用した版", original_book.proof_edition],
        ["備考", original_book.note]
      ])) %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "更新", href: edit_admin_work_original_book_path(@work, original_book) %>
    <%= button_to '削除', [:admin, @work, original_book], method: :delete, form: { data: { turbo_confirm: '本当に削除しますか?' } }, class: delete_button_class %>
  </div>
  <% end %>
</div>

<div class="mt-2 flex gap-2">
  <%= tag.snm_link "底本/底本の親本追加", href: new_admin_work_original_book_path(work_id: params[:id]) %>
</div>

<!--底本データ end-->
<!--分類番号データ start-->
<div class="mt-6">
  <snm-headline h="h2">分類番号データ</snm-headline>

  <% @work.bibclasses.each do |bibclass| %>
  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["分類名", bibclass.name],
        ["分類番号", bibclass.num],
        ["備考", bibclass.note]
      ])) %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "更新", href: edit_admin_work_bibclass_path(bibclass.work, bibclass) %>
    <%= button_to '削除', [:admin, bibclass.work, bibclass], method: :delete, form: { data: { turbo_confirm: '本当に削除しますか?' } }, class: delete_button_class %>
  </div>

  <% end %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "分類番号追加", href: new_admin_work_bibclass_path(params[:id]) %>
  </div>
</div>
<!--分類番号データ end-->
<!--ファイル start-->
<div class="mt-6">
  <snm-headline h="h2">ファイル</snm-headline>
  <% @work.workfiles.each do |workfile| %>
  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["ファイル", workfile.workdata.attached? ? link_to(workfile.filename, rails_blob_url(workfile.workdata)) : workfile.filename],
        ["ファイル形式", workfile.filetype.name],
        ["圧縮形式", workfile.compresstype.name],
        ["ファイルサイズ", workfile.filesize],
        ["初登録日", workfile.created_at],
        ["最終更新日", workfile.updated_at],
        ["修正回数", workfile.revision_count],
        ["ファイルエンコーディング", workfile.file_encoding.name],
        ["文字集合", workfile.charset.name],
        ["備考", workfile.note]
      ])) %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "更新", href: edit_admin_work_workfile_path(workfile.work, workfile) %>
    <%= button_to '削除', [:admin, workfile.work, workfile], method: :delete, form: { data: { turbo_confirm: '本当に削除しますか?' } }, class: delete_button_class %>
  </div>
  <% end %>
</div>

<div class="mt-2 flex gap-2">
  <%= tag.snm_link "ファイル追加", href: new_admin_work_workfile_path(params[:id]) %>
</div>
</div>
<!--ファイル end-->
<!--関連サイトデータ start-->
<div class="mt-6">
  <snm-headline h="h2">関連サイトデータ</snm-headline>

  <% @work.work_sites.each do |work_site| %>
  <% site = work_site.site %>
  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["関連サイト名", site.name],
        ["URL", site.url],
        ["運営者", site.owner_name],
        ["備考", site.note]
      ])) %>

  <div class="mt-2 flex gap-2">
    <%= button_to '削除', [:admin, @work, work_site], method: :delete, form: { data: { turbo_confirm: '本当に削除しますか?' } }, class: delete_button_class %>
  </div>

  <% end %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "関連サイト関連づけ", href: new_admin_work_work_site_path(params[:id]) %>
  </div>
</div>

<!--関連サイトデータ end-->

<div class="mt-2 flex gap-2">
  <%= tag.snm_link "戻る", href: admin_works_path %>
</div>
