<div class="w-full">
  <snm-headline h="h1">関連サイト検索結果一覧</snm-headline>

  <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
    <thead class="text-center bg-[#f8fafc]">
      <tr class="h-10 even:bg-[#f8fafc]">
        <th class="whitespace-nowrap">ID</th>
        <th class="whitespace-nowrap">サイト名</th>
        <th class="whitespace-nowrap">URL</th>
        <th class="whitespace-nowrap"></th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
      <tr class="h-10 even:bg-[#f8fafc]">
        <td class="text-center py-3 px-5"><%= site.id %></td>
        <td class="text-center py-3 px-5"><%= link_to site.name, admin_site_path(site) %></td>
        <td class="text-center py-3 px-5"><%= link_to site.url, site.url %></td>
        <td class="text-center py-3 px-5">
          <%= form_with(model: [:admin, @person, @person.person_sites.build], method: 'post', data: { turbo: false }) do |form| %>
          <%= form.hidden_field :site_id, value: site.id %>
          <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "関連づける")) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
