<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>コマンド実行<% end %>

  <div class="mt-5 flex">
    <%= snm_link '新規コマンド実行', href: new_admin_exec_command_path, button_style: "primary" %>
  </div>

  <table class="w-full">
    <thead>
      <tr>
        <th>ID</th>
        <th>コマンド</th>
        <th>実行日時</th>
      </tr>
    </thead>
    <tbody>
      <% @exec_commands.each do |exec_command| %>
        <tr>
          <td><%= exec_command.id %></td>
          <td><%= exec_command.command.truncate(30) %></td>
          <td><%= exec_command.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
