<div class="link">
  <span class="inline-flex items-center">
    <a href="<%= booklog_url %>">
      <img src="/images/booklog_88_31.gif" alt="本の感想を書き込もう　web本棚サービスブクログ" width="88" height="31">
    </a>
    「<a href="<%= booklog_url %>">ブクログでレビューを読む、書く。</a>」
  </span>
  <span class="inline-flex items-center">
    <a href="<%= voyger_url %>"><img src="/images/aib.png" alt="青空inBrowsersで縦書き表示" width="155" height="31"></a>
    「<a href="<%= voyger_url %>">青空 in Browsersで縦書き表示。PC、スマホ、タブレット対応</a>」
  </span>
  <form method="post" action="<%= airzoshi_url %>"><input type="submit" value="えあ草紙・青空図書館" class="bg-gray-200 hover:bg-gray-100 border border-gray-800 px-1 rounded shadow">
    「スマホ＆タブレットで動く青空文庫縦書き対応汎用電子書籍リーダー」
  </form>
  <div>
    <a href="<%= rodoku_url %>" class="bg-gray-200 hover:bg-gray-100 border border-gray-800 px-1 rounded shadow">この作品の朗読</a>を Google で検索する
  </div>
  <span class="inline-flex items-center">
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-text="<%= work.title %>" data-hashtags="青空文庫" data-dnt="true">ツイート</a>この作品を twitter でつぶやく
  </span><br>
  <span class="inline-flex items-center">
    <div class="fb-like" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
  </span>
</div>
<script>
!function(d,s,id){
var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
