<%= form_with(model: [:admin, worker]) do |form| %>
  <% if worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worker.errors.count, "error") %> prohibited this worker from being saved:</h2>
      <ul>
        <% worker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name_kana, "姓名読み" %>
    <%= form.text_field :name_kana %>
  </div>
  <div class="field">
    <%= form.label :sortkey, "ソート用読み" %>
    <%= form.text_field :sortkey %>
  </div>
  <div class="field">
    <%= form.label :name, "姓名" %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :email, "email" %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :url, "URL" %>
    <%= form.text_field :url %>
  </div>
  <div class="field">
    <%= form.label :note, "備考" %>
    <%= form.text_field :note %>
  </div>
    <%= form.fields_for :book_workers do |book_worker| %>
      <%= book_worker.hidden_field :book_id %>
      <%= book_worker.hidden_field :worker_role_id %>
    <% end %>
  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>
