<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Name kana:</strong>
  <%= @worker.name_kana %>
</p>

<p>
  <strong>Email:</strong>
  <%= @worker.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @worker.url %>
</p>

<p>
  <strong>Note:</strong>
  <%= @worker.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @worker.user_id %>
</p>

<p>
  <strong>Sortkey:</strong>
  <%= @worker.sortkey %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
