<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>工作員関連づけ登録<% end %>

  <div class="mt-10">
    <p>対象作品: <%= @work.title %></p>
  </div>

  <div class="mt-10">
    <%= snm_headline h: 'h2' do %>工作員検索<% end %>

    <div class="mt-2 flex">
      <%= render(Admin::WorkerSearchComponent.new(form_url: admin_work_work_workers_text_searches_path(work_id: @work.id))) %>
    </div>
  </div>
</div>

<!--50音順インデックス start-->
<div class="mt-10">
  <%= form_with(url: admin_work_work_workers_worker_index_searches_path, method: 'get') do |form| %>
  <div>
    <%= snm_headline h: 'h2' do %>工作員50音順インデックス<% end %>
    <%= render(Admin::SyllabaryTableComponent.new(key: "worker")) %>
  </div>
  <% end %>
</div>
<!--50音順インデックス end-->

<div class="mt-2 flex gap-2">
  <%= snm_link "戻る", href: admin_work_path(id: @work.id), button_style: 'secondary' %>
</div>
