<div class="justify-center items-center bg-blue-100 content-center w-screen">
  <div class="px-8 max-w-6xl mx-auto">
    <p id="notice"><%= notice %></p>
    <div class="flex justify-end text-base">
      ●<a href="https://www.aozora.gr.jp/">トップ</a>　●<span class="text-red-500 font-semibold">入力受付システム</span>
    </div>
    <div class="flex justify-center bg-yellow-100 py-3 border-t-2 border-b-2 border-gray-400">
      <h1 class="text-3xl font-semibold">入力受付システム：記入事項の確認</h1>
    </div>
    <div class="border-2 border-gray-500 my-4 mx-12 p-4 bg-yellow-100 text-base">
      <ul class="my-2 mx-8 list-disc text-base">
        <li>以下の内容で、入力を申し込みます。内容をもういちど確認してください。</li>
        <li>間違いなければ、「登録」ボタンを押してください。</li>
        <li>「必要事項の記入」に戻るときは、「戻る」ボタンを押してください。</li>
        <li>中止するときは、「登録」ボタンを押さずにブラウザを閉じてください。</li>
        <li>「登録」ボタンを押した後に取り消す必要が生じた場合は、reception@aozora.gr.jp宛、メールでご連絡ください。</li>
      </ul>
    </div>
    <%= form_with(model: @receipt_form, url: receipts_path, data: { turbo: false }) do |form| %>
    <div class="my-8 text-2xl font-medium py-3 bg-gray-200 border-t-2 border-b-2 border-gray-400">
      <h2 class="font-semibold">入力者データ</h2>
    </div>

    <div class="flex flex-col md:flex-row mb-3 bg-blue-200 p-2">
      <table>
        <thead>
          <tr>
            <th>項目名</th>
            <th>入力データ</th>
          </tr>
        </thead>
        <tbody>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :worker_id
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :worker_kana
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :worker_name
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :email
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :url
              ) %>
        </tbody>
      </table>
    </div>

    <div class="my-8 text-2xl font-medium py-3 bg-gray-200 border-t-2 border-b-2 border-gray-400">
      <h2 class="font-semibold">著者データ</h2>
    </div>

    <div class="flex flex-col md:flex-row mb-3 bg-blue-200 p-2">
      <table>
        <thead>
          <tr>
            <th>項目名</th>
            <th>入力データ</th>
          </tr>
        </thead>
        <tbody>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :person_id
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :last_name_kana
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :last_name
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :first_name_kana
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :first_name
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :person_note
              ) %>
        </tbody>
      </table>
    </div>

    <div class="my-8 text-2xl font-medium py-3 bg-gray-200 border-t-2 border-b-2 border-gray-400">
      <h2 class="font-semibold">底本データ</h2>
    </div>
    <div class="flex flex-col md:flex-row mb-3 bg-blue-200 p-2">
      <table>
        <thead>
          <tr>
            <th>項目名</th>
            <th>入力データ</th>
          </tr>
        </thead>
        <tbody>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :original_book_title
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :original_book_note
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :publisher
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :first_pubdate
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :input_edition
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :original_book_note
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :original_book_title2
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :publisher2
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: form,
              model: @receipt_form,
              attribute: :first_pubdate2
              ) %>
        </tbody>
      </table>
    </div>

    <% @receipt_form.sub_works.each_with_index do |sub_work, idx| %>
    <%= form.fields_for :sub_works, sub_work do |sub_form| %>

    <h2 class="my-8 text-2xl font-semibold py-3 bg-gray-200 border-t-2 border-b-2 border-gray-400">作品データ</h2>

    <div class="flex flex-col md:flex-row mb-3 bg-blue-200 p-2">
      <table>
        <thead>
          <tr>
            <th>項目名</th>
            <th>入力データ</th>
          </tr>
        </thead>
        <tbody>
          <%= render PreviewFormItemComponent.new(
              form: sub_form,
              model: sub_work,
              attribute: :title_kana
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: sub_form,
              model: sub_work,
              attribute: :title
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: sub_form,
              model: sub_work,
              attribute: :subtitle_kana
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: sub_form,
              model: sub_work,
              attribute: :subtitle
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: sub_form,
              model: sub_work,
              attribute: :original_title
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: sub_form,
              model: sub_work,
              attribute: :kana_type_id
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: sub_form,
              model: sub_work,
              attribute: :first_appearance
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: sub_form,
              model: sub_work,
              attribute: :memo
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: sub_form,
              model: sub_work,
              attribute: :note
              ) %>
          <%= render PreviewFormItemComponent.new(
              form: sub_form,
              model: sub_work,
              attribute: :copyright_flag
              ) %>
        </tbody>
      </table>
    </div>

    <% end %>
    <% end %>

    <div>
      <p>入力内容に間違いがないことを確認して、「登録」ボタンを押してください。</p>
      <p>入力内容を修正したいときは、「戻る」ボタンを押して前画面に戻ってください。</p>
    </div>

    <div class="actions">
      <%= form.submit "登録", class: "btn-normal" %>
      <%= form.submit "戻る", name: "edit", class: "btn-normal" %>
    </div>
    <% end %>
  </div>
</div>
