<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <p id="notice"><%= notice %></p>
  <h1 class="text-2xl py-4">人物一覧</h1>

  <h2 class="text-2xl py-2">人物検索</h1>

  <%= form_with(url: admin_people_text_searches_path, method: 'get') do |form| %>
  <table>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓読み", name: "last_name_kana")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓", name: "last_name")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "名読み", name: "first_name_kana")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "名", name: "first_name")) %>
  </table>
  <div class="py-2">
    <input type="submit" name="text" value="検索" class="btn-normal">
  </div>
  <% end %>

  <h2 class="text-2xl py-4">人物一覧</h1>
  <table>
    <thead>
      <tr>
        <th>人物ID</th>
        <th>姓名</th>
        <th>読み</th>
        <th>著作権</th>
        <th>他の名前</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td>
            <%= person.id %>
          </td>
          <td>
            <%= link_to admin_person_path(person) do %>
              <%= person.last_name %>
              <%= person.first_name %>
            <% end %>
          </td>
          <td>
            <%= person.last_name_kana %>
            <%= person.first_name_kana %>
          </td>
          <td><%= person.copyright_text %></td>
          <td>
            <% person.other_people.each do |other_person| %>
              →<%= link_to other_person.name, admin_person_path(other_person) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_nav(@pagy) %>
  <br>
  <%= link_to '新規人物登録', new_admin_person_path, class: 'btn-normal py-2' %>
</div>
