<!--作品テキスト start-->
<div>
  <snm-headline h="h1">人物詳細</snm-headline>
  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["人物ID", @person.id],
        ["読み", "#{@person.last_name_kana} #{@person.first_name_kana}"],
        ["ソート用読み", "#{@person.sortkey} #{@person.sortkey2}"],
        ["人物名", "#{@person.last_name} #{@person.first_name}"],
        ["ローマ字", "#{@person.last_name_en} #{@person.first_name_en}"],
        ["生年月日", @person.born_on],
        ["没年月日", @person.died_on],
        ["著作権フラグ", @person.copyright_flag_name],
        ["email", @person.person_secret&.email],
        ["URL", link_to(@person.url, @person.url)],
        ["人物について", nl2br(@person.description), { no_escape: true }],
        ["別名義", @person.original_person ? link_to(@person.original_person.name, admin_person_path(@person.original_person), class: "link-normal") : ""],
        ["備考(非公開)", @person.person_secret&.memo],
        ["最終更新日", @person.updated_at],
        ["更新者", @person.updated_user&.username]
      ])) %>

  <div class="mt-2 flex gap-2">
    <%= snm_link "更新", href: edit_admin_person_path(@person) %>
    <%= render(Admin::DeleteButtonComponent.new(url: admin_person_path(@person))) %>
  </div>
</div>

<div class="mt-6">
  <snm-headline h="h2">人物基本名</snm-headline>

  <% if @person.original_person %>
  <div class="mt-2">
    <%= @person.original_person.name %>
    <%= render(Admin::DeleteButtonComponent.new(url: admin_person_base_person_path(@person, @person.base_person))) %>
  </div>
  <% else %>
  <div class="mt-2 flex gap-2">
    <%= snm_link "関連付け", href: new_admin_person_base_person_path(@person) %>
  </div>
  <% end %>
</div>

<div class="mt-6">
  <snm-headline h="h2">関連サイトデータ</snm-headline>

  <% if @person.sites.present? %>
  <div class="mt-2">
    <% @person.person_sites.each do |person_site| %>
    <div class="p-2">
      <%= render(Admin::SnmTableVComponent.new(rows:
          [
            ["関連サイト名", person_site.site.name],
            ["URL", link_to(person_site.site.url, person_site.site.url)],
            ["関連サイト運営者", person_site.site.site_secret&.owner_name]
          ])) %>

    </div>
    <div class="mt-2 flex gap-2">
      <%= render(Admin::DeleteButtonComponent.new(url: admin_person_person_site_path(@person, person_site))) %>
    </div>
  <% end %>
  </div>
  <% else %>
  <div class="mt-2 flex gap-2">
    <%= snm_link "関連づけ", href: new_admin_person_person_site_path(@person) %>
  </div>
  <% end %>

</div>

<!--作品一覧 start-->
<div class="mt-6 mb-5">
  <snm-headline h="h2">関連した作品</snm-headline>

  <%= render(Admin::SnmTableComponent.new(
               header: %w[役割 作品名 副題 仮名遣い 状態 状態の開始日],
               classes: ['text-center w-24', 'text-center', 'text-center', 'text-center', 'text-center', 'text-center'],
               body: @work_people.map do |work_person|
                       work = work_person.work
                       [
                         work_person.role.name,
                         link_to(work.title, admin_work_path(work)),
                         work.subtitle,
                         work.kana_type.name,
                         work_status_mark(work.work_status),
                         work.started_on
                       ]
                     end
             )) %>

</div>

<div class="mt-6">
  <snm-headline h="h2">作家別作品リストプレビュー</snm-headline>
  <div class="mt-2 flex gap-2">
    <%= snm_link "プレビュー", href: admin_people_preview_path(@person), target: "_blank" %>
  </div>
</div>

<div class="mt-5 flex">
  <%= snm_link '戻る', href: admin_people_path, button_style: "secondary" %>
</div>
