<!--作品テキスト start-->
<div>
  <snm-headline h="h2">人物詳細</snm-headline>
  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["人物ID", @person.id],
        ["姓読み", @person.last_name_kana],
        ["姓読みソート用", @person.sortkey],
        ["姓", @person.last_name],
        ["姓ローマ字", @person.last_name_en],
        ["名読み", @person.first_name_kana],
        ["名読みソート用", @person.sortkey2],
        ["名", @person.first_name],
        ["名ローマ字", @person.first_name_en],
        ["生年月日", @person.born_on],
        ["没年月日", @person.died_on],
        ["著作権フラグ", @person.copyright_flag],
        ["email", @person.email],
        ["URL", link_to(@person.url, @person.url)],
        ["人物について", @person.description],
        ["別名義", @person.original_person ? link_to(@person.original_person.name, admin_person_path(@person.original_person), class: "link-normal") : ""],
        ["備考", @person.note]
      ])) %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "更新", href: edit_admin_person_path(@person) %>
    <%= button_to '削除', [:admin, @person], method: :delete, form: { data: { turbo_confirm: '本当に削除しますか?' } }, class: delete_button_class %>
  </div>
</div>

<div class="mt-6">
  <snm-headline h="h3">人物基本名</snm-headline>

  <% if @person.original_person %>
  <div class="mt-2 flex gap-2">
    <%= @person.original_person.name %>
    <%= button_to '削除', [:admin, @person, @person.base_person], method: :delete, form: { data: { turbo_confirm: '本当に削除しますか?' }, class: 'inline-block' }, class: delete_button_class %>
  </div>
  <% else %>
  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "関連付け", href: new_admin_person_base_person_path(@person) %>
  </div>
  <% end %>
</div>

<div class="mt-6">
  <snm-headline h="h3">関連サイトデータ</snm-headline>

  <% if @person.sites.present? %>
  <div class="mt-2 flex gap-2">
    <% @person.person_sites.each do |person_site| %>
    <div class="p-2">
      <%= render(Admin::SnmTableVComponent.new(rows:
          [
            ["関連サイト名", person_site.site.name],
            ["URL", person_site.site.url],
            ["関連サイト運営者", person_site.site.owner_name]
          ])) %>

      <%= button_to '削除', [:admin, @person, person_site], method: :delete, form: { data: { turbo_confirm: '本当に削除しますか?' } }, class: delete_button_class %>
    </div>
  <% end %>
  </div>
  <% else %>
  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "関連づけ", href: new_admin_person_person_site_path(@person) %>
  </div>
  <% end %>

</div>

<!--作品一覧 start-->
<div class="mt-6 mb-5">
  <snm-headline h="h3">関連した作品</snm-headline>

  <%= render(Admin::SnmTableComponent.new(
               header: %w[役割 作品名 副題 仮名遣い 状態 状態の開始日],
               body: @work_people.map do |work_person|
                 work = work_person.work
                 [
                   work_person.role.name,
                   link_to(work.title, admin_work_path(work)),
                   work.subtitle,
                   work.kana_type.name,
                   work.work_status.name,
                   work.started_on
                 ]
               end
             )) %>

</div>

<div class="mt-5 flex">
  <%= tag.snm_link '戻る', href: admin_people_path, buttonstyle: "secondary" %>
</div>
