<div class="justify-center items-center bg-blue-50 content-center w-screen">
  <div class="px-8 max-w-7xl mx-auto">
    <a name="top">&nbsp;</a>

    <div class="flex justify-end text-base">
      ●<a href="https://www.aozora.gr.jp/" class="link-normal">トップ</a>　●<a href="/" class="link-normal">作業着手連絡システム</a>　●<span class="text-red-500 font-semibold">校正受付システム</span>
    </div>

    <h1 class="flex justify-center py-3 text-2xl font-semibold bg-yellow-100 border-t border-b border-gray-500">
      校正受付システム：記入事項の確認
    </h1>

    <div class="border-2 border-gray-500 my-4 mx-12 p-4 bg-yellow-100 text-base">
      <p>・以下の内容で、校正を申し込みます。内容をもういちど確認してください。</p>
      <p>・間違いなければ、「登録」ボタンを押してください。</p>
      <p>・「必要事項の記入」に戻るときは、「戻る」ボタンを押してください。</p>
      <p>・中止するときは、「登録」ボタンを押さずにブラウザを閉じてください。</p>
      <p>・「登録」ボタンを押した後に取り消す必要が生じた場合は、reception@aozora.gr.jp宛、メールでご連絡ください。</p>
    </div>

<%= form_with(model: @proofread_form, url: proofreads_path, data: { turbo: false }) do |form| %>
<h2 class="flex my-4 px-5 py-1 text-2xl font-semibold bg-gray-300 border-t border-b border-gray-500">
  著者: <%= @author.name %>
</h2>

<table class="border border-gray-500 w-full">
  <thead>
    <tr>
      <th class="bg-green-200 border border-gray-400">
        作品名<br>
        副題
      </th>
      <th class="bg-green-200 border border-gray-400">
        底本名<br>
        出版社
      </th>
      <th class="bg-green-200 border border-gray-400">
        底本コピー
      </th>
      <th class="bg-green-200 border border-gray-400">
        プリントアウト
      </th>
      <th class="bg-green-200 border border-gray-400">
        校正に使用する版
      </th>
    </tr>
  </thead>
  <tbody>
    <% @proofread_form.sub_works.each do |sub_work| %>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        <%= sub_work.title %><br>
        <%= sub_work.subtitle %>
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= sub_work.first_teihon.title %><br>
        <%= sub_work.first_teihon.publisher %>
      </td>
      <%= form.fields_for :sub_works, sub_work do |fields| %>
      <td class="border border-gray-400 bg-white">
        <%= fields.hidden_field :work_id %>
        <%= sub_work.work_copy.to_i > 0 ? '要' : '不要' %>
        <%= fields.hidden_field :work_copy %>
      </td>
      <td class="border border-gray-400 bg-white">
        <%= sub_work.work_print.to_i > 0 ? '要' : '不要' %>
        <%= fields.hidden_field :work_print %>
      </td>
      <td class="border border-gray-400 bg-white">
        <%= fields.hidden_field :proof_edition %>
        <%= sub_work.proof_edition %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<h2 class="flex my-4 px-5 py-1 text-2xl font-semibold bg-gray-300 border-t border-b border-gray-500">
  送付先
</h2>

<table class="border border-gray-500 w-full">
  <thead>
    <tr>
      <th class="bg-green-200 border border-gray-400 w-48">
        項目名
      </th>
      <th class="bg-green-200 border border-gray-400">
        入力データ
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        送付先
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.hidden_field :address %>
        <%= @proofread_form.address %>
      </td>
    </tr>
  </tbody>
</table>

<h2 class="flex my-4 px-5 py-1 text-2xl font-semibold bg-gray-300 border-t border-b border-gray-500">
  連絡事項
</h2>

<table class="border border-gray-500 w-full">
  <thead>
    <tr>
      <th class="bg-green-200 border border-gray-400 w-48">
        項目名
      </th>
      <th class="bg-green-200 border border-gray-400">
        入力データ
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        連絡事項
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.hidden_field :memo %>
        <%= @proofread_form.memo %>
      </td>
    </tr>
  </tbody>
</table>

<h2 class="flex my-4 px-5 py-1 text-2xl font-semibold bg-gray-300 border-t border-b border-gray-500">
  校正者データ
</h2>

<table class="border border-gray-500 w-full">
  <thead>
    <tr>
      <th class="bg-green-200 border border-gray-400 w-48">
        項目名
      </th>
      <th class="bg-green-200 border border-gray-400">
        入力データ
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        工作員ID
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.hidden_field :worker_id %>
        <%= @proofread_form.worker_id %>
      </td>
    </tr>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        工作員名読み（必須）
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.hidden_field :worker_kana %>
        <%= @proofread_form.worker_kana %>
      </td>
    </tr>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        工作員名（必須）
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.hidden_field :worker_name %>
        <%= @proofread_form.worker_name %>
      </td>
    </tr>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        e-mail（必須）
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.hidden_field :email %>
        <%= @proofread_form.email %>
      </td>
    </tr>
    <tr>
      <td class="border border-gray-400 bg-gray-300">
        ホームページ
      </td>
      <td class="border border-gray-400 bg-yellow-100">
        <%= form.hidden_field :url %>
        <%= @proofread_form.url %>
      </td>
    </tr>
  </tbody>
</table>

<hr>

<p>
入力内容に間違いがないことを確認して、「登録」ボタンを押してください。
</p>
<p>
入力内容を修正したいときは、「戻る」ボタンを押して前画面に戻ってください。
</p>

<%= form.hidden_field :person_id %>
<%= form.submit '登録', class: "btn-normal" %>
<%= form.submit '戻る', name: 'edit', formaction: proofreads_path, class: "btn-normal" %>

<% end %>
