<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <p id="notice"><%= notice %></p>
  <h1>Workfiles</h1>
  <table>
    <thead>
      <tr>
        <th>Work</th>
        <th>Filetype</th>
        <th>Compresstype</th>
        <th>Filesize</th>
        <th>User</th>
        <th>Url</th>
        <th>Filename</th>
        <th>Opened on</th>
        <th>revision_count</th>
        <th>File encoding</th>
        <th>Charset</th>
        <th>Note</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @workfiles.each do |workfile| %>
        <tr>
          <td><%= workfile.work_id %></td>
          <td><%= workfile.filetype_id %></td>
          <td><%= workfile.compresstype_id %></td>
          <td><%= workfile.filesize %></td>
          <td><%= workfile.user_id %></td>
          <td><%= workfile.url %></td>
          <td><%= workfile.filename %></td>
          <td><%= workfile.opened_on %></td>
          <td><%= workfile.revision_count %></td>
          <td><%= workfile.file_encoding_id %></td>
          <td><%= workfile.charset_id %></td>
          <td><%= workfile.note %></td>
          <td><%= link_to 'Show', [:admin, workfile.work, workfile] %></td>
          <td><%= link_to 'Edit', edit_admin_work_workfile_path(workfile.work, workfile) %></td>
          <td><%= link_to 'Destroy',[:admin, workfile.work, workfile], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
