<p id="notice"><%= notice %></p>
<p>
  <strong>Work:</strong>
  <%= @workfile.work_id %>
</p>
<p>
  <strong>Filetype:</strong>
  <%= @workfile.filetype_id %>
</p>
<p>
  <strong>Compresstype:</strong>
  <%= @workfile.compresstype_id %>
</p>
<p>
  <strong>Filesize:</strong>
  <%= @workfile.filesize %>
</p>
<p>
  <strong>User:</strong>
  <%= @workfile.user_id %>
</p>
<p>
  <strong>Url:</strong>
  <%= @workfile.url %>
</p>
<p>
  <strong>Filename:</strong>
  <%= @workfile.filename %>
</p>
<p>
  <strong>Opened on:</strong>
  <%= @workfile.opened_on %>
</p>
<p>
  <strong>revision_count:</strong>
  <%= @workfile.revision_count %>
</p>
<p>
  <strong>File encoding:</strong>
  <%= @workfile.file_encoding_id %>
</p>
<p>
  <strong>Charset:</strong>
  <%= @workfile.charset_id %>
</p>
<p>
  <strong>Note:</strong>
  <%= @workfile.note %>
</p>
<%= link_to 'Edit', edit_admin_work_workfile_path(@workfile.work, @workfile) %> |
<%= link_to 'Back', admin_work_workfiles_path(@workfile.work) %>
