<%= form_with(model: [:admin, bibclass.work, bibclass]) do |form| %>
  <% if bibclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bibclass.errors.count, "error") %>件のエラーがあります:</h2>
      <ul>
        <% bibclass.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name, "分類名" %>
    <%= form.text_field :name, class: "w-full border border-gray-800 p-1" %>
  </div>
  <div class="field">
    <%= form.label :num, "分類番号" %>
    <%= form.text_field :num, class: "w-full border border-gray-800 p-1" %>
  </div>
  <div class="field">
    <%= form.label :note, "備考" %>
    <%= form.text_area :note, class: "w-full border border-gray-800 p-1" %>
  </div>

  <%= form.hidden_field :work_id %>
  <div class="actions py-4">
    <%= form.submit "更新", class: 'btn-normal' %>
  </div>
<% end %>
