<%= form_with(model: [:admin, bibclass.work, bibclass]) do |form| %>
<% if bibclass.errors.any? %>
  <b class="text-red-500"><%= pluralize(bibclass.errors.count, "件") %>のエラーがあります</b>
<% end %>
<%= render(Admin::SnmTextFieldComponent.new(form:, name: :name, errors: bibclass.errors)) %>
<%= render(Admin::SnmTextFieldComponent.new(form:, name: :num, errors: bibclass.errors)) %>
<%= render(Admin::SnmTextFieldComponent.new(form:, name: :note, errors: bibclass.errors)) %>
<%= form.hidden_field :work_id %>

<div class="mt-2 flex">
  <%= render(Admin::SubmitComponent.new(form:, name: 'commit', value: "登録する")) %>
</div>
<% end %>
