<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <p id="notice"><%= notice %></p>
  <h1>分類番号データ</h1>
  <%= link_to '分類番号新規登録', new_admin_bibclass_path %>
  <table>
    <thead>
      <tr>
        <th>分類名</th>
        <th>分類番号</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <% @bibclasses.each do |bibclass| %>
        <tr>
          <td><%= link_to bibclass.name, admin_bibclass_path(bibclass) %></td>
          <td><%= bibclass.num %></td>
          <td><%= bibclass.note %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
