<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>分類名:</strong>
    <%= @bibclass.name %>
  </p>
  <p>
    <strong>分類番号:</strong>
    <%= @bibclass.num %>
  </p>
  <p>
    <strong>備考:</strong>
    <%= @bibclass.note %>
  </p>
  <%= link_to '更新', edit_admin_work_bibclass_path(@bibclass.work, @bibclass) %> |
  <%= link_to '戻る', admin_work_path(@bibclass.work) %>
