<%= form_with(model: [:admin, user]) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: user.model_name.human, count: user.errors.count) %></h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :username, "username" %>
    <%= form.text_field :username, class: "w-full border border-gray-800 p-1" %>
  </div>
  <div class="field">
    <%= form.label :email, "email" %>
    <%= form.text_field :email, class: "w-full border border-gray-800 p-1" %>
  </div>
  <div class="actions">
    <%= form.submit "更新", class: 'btn-normal py-2' %>
  </div>
<% end %>
