<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <h1 class="text-2xl py-4">管理者の追加・削除</h1>
  <%= form_with(model: [:admin, @user]) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :username, "username" %>
      <%= form.text_field :username %>
    </div>
    <div class="field">
      <%= form.label :email, "email" %>
      <%= form.text_field :email %>
    </div>
    <div class="field">
      <%= form.label :password, "password" %>
      <%= form.text_field :password %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation, "password(確認用)" %>
      <%= form.text_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= form.submit "登録" %>
    </div>
  <% end %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>username</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.username, edit_admin_user_path(user) %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
