<p id="notice"><%= notice %></p>

<h1>Filetypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Extension</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filetypes.each do |filetype| %>
      <tr>
        <td><%= filetype.name %></td>
        <td><%= filetype.extension %></td>
        <td><%= link_to 'Show', filetype %></td>
        <td><%= link_to 'Edit', edit_filetype_path(filetype) %></td>
        <td><%= link_to 'Destroy', filetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filetype', new_filetype_path %>
