<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @filetype.name %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @filetype.extension %>
</p>

<%= link_to 'Edit', edit_filetype_path(@filetype) %> |
<%= link_to 'Back', filetypes_path %>
