    <table class="w-full">
      <tr>
        <th class="w-48">項目名</th>
        <th>データ</th>
      </tr>
      <tr>
        <th>工作員ID</th>
        <td><%= @worker.id %></td>
      </tr>
      <tr>
        <th>姓名読み</th>
        <td><%= @worker.name_kana %></td>
      </tr>
      <tr>
        <th>姓名</th>
        <td><%= @worker.name %></td>
      </tr>
      <tr>
        <th>e-mail</th>
        <td><%= @worker_secret.email %></td>
      </tr>
      <tr>
        <th>ホームページ</th>
        <td><%= @worker_secret.url %></td>
      </tr>
    </table>
