    <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
      <thead class="bg-[#f8fafc]">
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <th class="whitespace-nowrap">項目名</th>
          <th class="whitespace-nowrap">データ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>工作員ID</th>
          <td><%= text_field_tag :worker_id_disabled, nil, disabled: true, autocomplete: :off, class: "w-full p-1 bg-gray-100" %></td>
        </tr>
        <tr>
          <th>姓名読み</th>
          <td><%= form.text_field :worker_kana, class: "w-full p-1" %></td>
        </tr>
        <tr>
          <th>姓名</th>
          <td><%= form.text_field :worker_name, class: "w-full p-1" %></td>
        </tr>
        <tr>
          <th>e-mail</th>
          <td><%= form.text_field :email, class: "w-full p-1" %></td>
        </tr>
        <tr>
          <th>ホームページ</th>
          <td><%= form.text_field :url, class: "w-full p-1" %></td>
        </tr>
      </tbody>
    </table>

    <div class="py-4">
    <snm-headline h="h3">工作員選択オプション</snm-headline>
    <ul class="w-full py-4 ml-24">
      <li>
        <%= form.radio_button :worker_id, -1 %>上記の内容で工作員を新規登録する
      </li>
      <li>
        <%= form.radio_button :worker_id, 0 %>一時的に予備工作員に関連付ける
      </li>
      <li>
      </li>
      <% proofread_form.search_similar_workers.each do |searched_worker| %>
      <li>
        <%= form.radio_button :worker_id, searched_worker.id %>
        <%= searched_worker.name %>
      </li>
      <% end %>
    </ul>
    <%= form.submit '再検索', formaction: edit_admin_proofread_path(proofread_form.proofread), formmethod: :get, class: "btn-admin-normal" %>
    </div>
