    <table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
      <thead class="bg-[#f8fafc]">
        <tr class="h-10 even:bg-[#f8fafc] whitespace-nowrap">
          <th class="whitespace-nowrap">項目名</th>
          <th class="whitespace-nowrap">データ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><%= form.label :worker_id %></th>
          <td>
            <%= proofread_form.worker_id %>
            <%= form.hidden_field :worker_id, value: proofread_form.worker_id || params.dig(:receipt, :worker_id) %>
          </td>
        </tr>
        <tr>
          <th><%= form.label :worker_kana %></th>
          <td>
            <%= @worker.name_kana %>
            <%= form.hidden_field :worker_kana %>
          </td>
        </tr>
        <tr>
          <th><%= form.label :worker_name %></th>
          <td>
            <%= @worker.name %>
            <%= form.hidden_field :worker_name %>
          </td>
        </tr>
        <tr>
          <th><%= form.label :email %></th>
          <td>
            <%= @worker_secret.email %>
            <%= form.hidden_field :email %>
          </td>
        </tr>
        <tr>
          <th><%= form.label :url %></th>
          <td>
            <%= @worker_secret.url %>
            <%= form.hidden_field :url %>
          </td>
        </tr>
      </tbody>
    </table>
