<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
<p id="notice"><%= notice %></p>
<h1 class="text-2xl py-4">Web校正受付管理</h1>

<h2 class="text-xl py-2">Web受付作品一覧</h2>
<p>
  <%= @proofreads.count %>件の作品が見つかりました。
</p>
<table class="w-full my-4">
  <thead>
    <tr>
      <th>連番</th>
      <th>日付</th>
      <th>ID</th>
      <th>作品名</th>
      <th>文字遣い</th>
      <th>著者</th>
      <th>校正者</th>
      <th>状態</th>
      <th>関連づけ</th>
      <th>発注</th>
    </tr>
  </thead>
  <tbody>
    <% @proofreads.order(created_at: :desc).each_with_index do |proofread, index| %>
      <% work = proofread.work %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= proofread.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= work.id %></td>
        <td><%= link_to work.title, edit_admin_proofread_path(proofread), class: "link-normal" %></td>
        <td><%= work.kana_type&.name %></td>
        <td><%= work.author_text %></td>
        <td><%= proofread.worker_name %></td>
        <td><%= work.work_status.name %></td>
        <td>
          <% if proofread.assigned? %>
          <span>済</span>
          <% else %>
          <span class="text-red-500">未</span>
          <% end %>
        </td>
        <td>
          <% if proofread.ordered? %>
          <span>済</span>
          <% else %>
          <span class="text-red-500">未</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="text-xl py-2">一括削除</h2>

<%= form_with(url: admin_proofreads_bulk_removes_path, method: :post, data: { turbo_confirm: '本当に一括削除しますか？' }) do |form| %>
<%= form.submit '一括削除する', class: "btn-normal" %>
<% end %>

</div>
