<div class="w-full md:w-2/3">
  <snm-headline h="h1">登録内容確認</snm-headline>

  <snm-headline h="h2">【作品データ】</snm-headline>

    <table class="w-full">
      <tr>
        <th class="w-48">項目名</th>
        <th>入力データ</th>
      </tr>
      <tr>
        <th>作品名読み（必須）</th>
        <td><%= @receipt.title_kana %></td>
      </tr>
      <tr>
        <th>作品名（必須）</th>
        <td><%= @receipt.title %></td>
      </tr>
      <tr>
        <th>副題読み（必須）</th>
        <td><%= @receipt.subtitle_kana %></td>
      </tr>
      <tr>
        <th>副題（必須）</th>
        <td><%= @receipt.subtitle %></td>
      </tr>
      <tr>
        <th>著者</th>
        <td><%= @work.author_text %></td>
      </tr>
      <tr>
        <th>
          作品ID
        </th>
        <td>
          <%= @work.id %>
        </td>
      </tr>
      <tr>
        <th>作品名<br>副題</th>
        <td>
          <%= @work.title %><br>
          <%= @work.subtitle %>
        </td>
      </tr>
      <tr>
        <th>状態</th>
        <td><%= @work.work_status.name %></td>
      </tr>
      <tr>
        <th>底本（コピー）</th>
        <td>
          <% if @proofread.need_copy? %>
          要
          <% else %>
          不要
          <% end %>
        </td>
      </tr>
      <tr>
        <th>プリントアウト</th>
        <td>
          <% if @proofread.need_print? %>
          要
          <% else %>
          不要
          <% end %>
        </td>
      </tr>
    </table>

  <snm-headline h="h2">【校正者データ】</snm-headline>
    <table class="w-full">
      <tr>
        <th class="w-48">項目名</th>
        <th>データ</th>
      </tr>
      <tr>
        <th>工作員ID</th>
        <td>
          <%= @worker.id %>
        </td>
      </tr>
      <tr>
        <th>姓名読み</th>
        <td><%= @worker.name_kana %></td>
      </tr>
      <tr>
        <th>姓名</th>
        <td><%= @worker.name %></td>
      </tr>
      <tr>
        <th>e-mail</th>
        <td><%= @worker_secret.email %></td>
      </tr>
      <tr>
        <th>ホームページ</th>
        <td><%= @worker_secret.url %></td>
      </tr>
    </table>

    <snm-headline h="h2">【校正者からの連絡事項】</snm-headline>

    <table class="w-full">
      <tr>
        <th class="w-48">項目名</th>
        <th>データ</th>
      </tr>
      <tr>
        <th>連絡事項</th>
        <td><%= @proofread.memo %></td>
      </tr>
    </table>

    <snm-headline h="h2">【作品データ】</snm-headline>

    <table class="w-full">
      <tr>
        <th class="w-48">項目名</th>
        <th>データ</th>
      </tr>
      <tr>
        <th>著者</th>
        <td><%= @work.author_text %></td>
      </tr>
      <tr>
        <th>
          作品ID
        </th>
        <td>
          <%= @work.id %>
        </td>
      </tr>
      <tr>
        <th>作品名<br>副題</th>
        <td>
          <%= @work.title %><br>
          <%= @work.subtitle %>
        </td>
      </tr>
      <tr>
        <th>状態</th>
        <td><%= @work.work_status.name %></td>
      </tr>
      <tr>
        <th>底本（コピー）</th>
        <td>
          <% if @proofread.need_copy? %>
          要
          <% else %>
          不要
          <% end %>
        </td>
      </tr>
      <tr>
        <th>プリントアウト</th>
        <td>
          <% if @proofread.need_print? %>
          要
          <% else %>
          不要
          <% end %>
        </td>
      </tr>
    </table>

    <hr class="border-1 my-4">

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link '戻る', href: admin_proofreads_path, buttonstyle: 'secondary' %>
  </div>
</div>
