<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @book_person.book_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @book_person.person_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @book_person.role_id %>
</p>

<%= link_to 'Edit', edit_book_person_path(@book_person) %> |
<%= link_to 'Back', book_people_path %>
