<p id="notice"><%= notice %></p>
<p>
  <strong>title_kana:</strong>
  <%= @receipt.title_kana %>
</p>
<p>
  <strong>title:</strong>
  <%= @receipt.title %>
</p>
<p>
  <strong>subtitle_kana:</strong>
  <%= @receipt.subtitle_kana %>
</p>
<p>
  <strong>subtitle:</strong>
  <%= @receipt.subtitle %>
</p>
<p>
  <strong>collection_kana:</strong>
  <%= @receipt.collection_kana %>
</p>
<p>
  <strong>collection:</strong>
  <%= @receipt.collection %>
</p>
<p>
  <strong>original_title:</strong>
  <%= @receipt.original_title %>
</p>
<p>
  <strong>Kana:</strong>
  <%= @receipt.kana_type_id %>
</p>
<p>
  <strong>first_appearance:</strong>
  <%= @receipt.first_appearance %>
</p>
<p>
  <strong>Memo:</strong>
  <%= @receipt.memo %>
</p>
<p>
  <strong>note:</strong>
  <%= @receipt.note %>
</p>
<p>
  <strong>Status:</strong>
  <%= @receipt.status %>
</p>
<p>
  <strong>started_on:</strong>
  <%= @receipt.started_on %>
</p>
<p>
  <strong>copyright_flag:</strong>
  <%= @receipt.copyright_flag %>
</p>
<p>
  <strong>last_name_kana:</strong>
  <%= @receipt.last_name_kana %>
</p>
<p>
  <strong>last_name:</strong>
  <%= @receipt.last_name %>
</p>
<p>
  <strong>last_name_en:</strong>
  <%= @receipt.last_name_en %>
</p>
<p>
  <strong>first_name_kana:</strong>
  <%= @receipt.first_name_kana %>
</p>
<p>
  <strong>first_name:</strong>
  <%= @receipt.first_name %>
</p>
<p>
  <strong>first_name_en:</strong>
  <%= @receipt.first_name_en %>
</p>
<p>
  <strong>person_note:</strong>
  <%= @receipt.person_note %>
</p>
<p>
  <strong>worker_kana:</strong>
  <%= @receipt.worker_kana %>
</p>
<p>
  <strong>worker_name:</strong>
  <%= @receipt.worker_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @receipt.email %>
</p>
<p>
  <strong>Url:</strong>
  <%= @receipt.url %>
</p>
<p>
  <strong>original_book_title:</strong>
  <%= @receipt.original_book_title %>
</p>
<p>
  <strong>Publisher:</strong>
  <%= @receipt.publisher %>
</p>
<p>
  <strong>first_pubdate:</strong>
  <%= @receipt.first_pubdate %>
</p>
<p>
  <strong>input_edition:</strong>
  <%= @receipt.input_edition %>
</p>
<p>
  <strong>original_book_title2:</strong>
  <%= @receipt.original_book_title2 %>
</p>
<p>
  <strong>Publisher2:</strong>
  <%= @receipt.publisher2 %>
</p>
<p>
  <strong>first_pubdate2:</strong>
  <%= @receipt.first_pubdate2 %>
</p>
<p>
  <strong>person_id:</strong>
  <%= @receipt.person_id %>
</p>
<p>
  <strong>worker_id:</strong>
  <%= @receipt.worker_id %>
</p>
<p>
  <strong>created_on:</strong>
  <%= @receipt.created_on %>
</p>
<p>
  <strong>register_status:</strong>
  <%= @receipt.register_status %>
</p>
<p>
  <strong>original_book_note:</strong>
  <%= @receipt.original_book_note %>
</p>
<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
