<%= form_with(model: [:admin, site]) do |form| %>
  <% errors = site.errors %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :name, errors:)) %>
  <%= render(Admin::SnmTextFieldComponent.new(form:, name: :url, errors:)) %>
  <%= form.fields_for :site_secret do |secret_form| %>
    <%= render(Admin::SnmTextFieldComponent.new(form: secret_form, name: :owner_name, errors:)) %>
    <%= render(Admin::SnmTextFieldComponent.new(form: secret_form, name: :email, errors:)) %>
    <%= render(Admin::SnmTextAreaComponent.new(form: secret_form, name: :memo, errors:)) %>
    <% end %>
  <% if site.work_sites.present? %>
  <%= form.fields_for :work_sites do |work_site| %>
    <%= work_site.hidden_field :work_id %>
  <% end %>
  <% end %>
  <div class="mt-2 flex">
    <%= render(Admin::SubmitComponent.new(form:, name: "submit", value: "登録する")) %>
  </div>
<% end %>
