<%= form_with(model: [:admin, site]) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>
      <ul>
        <% site.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name, "関連サイト名" %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :url, "URL" %>
    <%= form.text_field :url %>
  </div>
  <div class="field">
    <%= form.label :owner_name, "関連サイト名" %>
    <%= form.text_field :owner_name %>
  </div>
  <div class="field">
    <%= form.label :email, "email" %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :note, "備考" %>
    <%= form.text_area :note %>
  </div>
  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>
