<div class="flex flex-col gap-5">
  <snm-headline h="h2">関連サイト</snm-headline>

  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["関連サイト名", @site.name],
        ["関連サイト運営者", @site.site_secret&.owner_name],
        ["email", @site.site_secret&.email],
        ["URL", link_to(@site.url, @site.url)],
        ["備考(非公開)", @site.site_secret&.memo],
        ["最終更新日", @site.updated_at],
        ["更新者", @site.updated_user&.username]
      ])) %>

  <div class="mt-2 flex gap-2">
    <%= snm_link "更新", href: edit_admin_site_path(@site) %>
    <%= snm_link "戻る", href: admin_sites_path, button_style: "secondary" %>
  </div>
</div>

<div class="mt-6 mb-5">
  <snm-headline h="h2">関連した作品</snm-headline>
  <%= render(Admin::SnmTableComponent.new(
               header: %w[作品名 副題 仮名遣い 状態 状態の開始日],
               classes: ['text-center', 'text-center', 'text-center', 'text-center min-x-16', 'text-center'],
               body: @work_sites&.map do |work_site|
                       work = work_site.work
                       [
                         link_to(work.title, admin_work_path(work)),
                         work.subtitle,
                         work.kana_type.name,
                         work_status_mark(work.work_status),
                         work.started_on
                       ]
                     end
             )) %>
</div>

<div class="mt-6 mb-5">
  <snm-headline h="h2">関連した人物</snm-headline>
  <%= render(Admin::PeopleTableComponent.new(pagy: @pagy, people: @people)) %>
</div>
